<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <section class="mx-auto pr-64">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 w-[600px]">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold">
      <%= image_tag 'logo.png', class: ''%>
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight  md:text-2xl ">
          Register a CSPM
        </h1>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div>
          <label for="email" class="block mb-1 text-sm font-medium">Your email</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: " h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg w-full", required: true %>
        </div>
        <div class="field">
          <%= f.label :password, class: "block mb-1 text-sm font-medium" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: '••••••••', class: " h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg w-full", required: true %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, class: "block mb-1 text-sm font-medium " %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '••••••••', class: " h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg w-full", required: true %>
        </div>
        <div class="actions">
          <%= f.submit "SIGN UP", class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100 w-full' %>
        </div>
        <p class="mt-2 text-sm font-light">
          <%= render "devise/shared/links" %>
        </p>
        </div>
      </div>
  </div>
</section>
<% end %>
