<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>The Task: <%= @task.name %> of topic: <%= @task.topic %> by <%= @current_user.name %> has change state to <b><%= @task.board.status %></b></p>
<p>Assigned user: <%= @assigned_user.first_name %> <%= @assigned_user.last_name %></p>
<p>Click <a href="<%= @url %>">here</a> to view the ticket.</p>

<p>Best regards,</p>
<p>Your Team</p>