<!-- app/views/user_mailer/assign_product_email.html.erb -->
<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p><%= @product.users.map(&:name).join(', ') %> has been assigned to the project: <%= @product.name %> by <%= @current_user.name %></p>
<p>Click <a href="<%= @url %>">here</a> to view the project.</p>

<p>Best regards,</p>
<p>Your Team</p>