<!-- app/views/report_mailer/daily_ticket_email.html.erb -->
<% if @tickets.any? %>
    <h1>Daily Ticket Report</h1>
    <p>Hello <%= @user.name %>,</p>
    <p>Here are your current assigned tickets:</p>
    <table border="1" cellpadding="5">
      <tr>
        <th>Issue Key</th>
        <th>Service Desk</th>
        <th>Summary</th>
        <th>Status</th>
      </tr>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.unique_id, project_ticket_url(ticket.project, ticket), target: '_blank' %></td>
          <td><%= ticket.project.title %></td>
          <td><%= ticket.subject %></td>
          <td><%= ticket.statuses.first&.name || 'N/A' %></td>
        </tr>
      <% end %>
    </table>
  <!-- existing table -->
<% else %>
  <p>Hello <%= @user.name %>,</p>
  <p>You did not any Closed or Resolved tickets in the last 24 hours.</p>
<% end %>
