<!-- app/views/user_mailer/assign_product_email.html.erb -->
<p>Hello <%= @product.client.name %></p>
<p> has been assigned to the project: by
  <%= @product.client.name %>
  <% if @product.statuses.first&.name == 'Development' %>
    for  <%= @product.groupwares.map(&:name).join(', ') %>
    for milestone
    <% @product.milestones.each do |milestone| %>
      <% if milestone.status&.name == 'Development' %>
        <%= milestone.status.name %>
        <%= number_with_precision(milestone.amount || (@product.budget * milestone.percentage.to_f / 100), precision: 2) %>
      <% end %>
    <% end %>
  <% elsif @product.statuses.first&.name == 'User Acceptance Test' %>
      for  <%= @product.groupwares.map(&:name).join(', ') %>
      for milestone
      <% @product.milestones.each do |milestone| %>
      <% if milestone.status&.name == 'User Acceptance Test' %>
        <%= milestone.status.name %>
        <%= number_with_precision(milestone.amount || (@product.budget * milestone.percentage.to_f / 100), precision: 2) %>
      <% end %>
    <% end %>
  <% elsif @product.statuses.first&.name == 'Quality Assurance' %>
    for  <%= @product.groupwares.map(&:name).join(', ') %>
    for milestone
    <% @product.milestones.each do |milestone| %>
      <% if milestone.status&.name == 'Quality Assurance' %>
        <%= milestone.status.name %>
        <%= number_with_precision(milestone.amount || (@product.budget * milestone.percentage.to_f / 100), precision: 2) %>
      <% end %>
    <% end %>
  <% elsif @product.statuses.first&.name == 'Deploy' %>
    for  <%= @product.groupware s.map(&:name).join(', ') %>
    for milestone
    <% @product.milestones.each do |milestone| %>
      <% if milestone.status&.name == 'Deploy' %>
        <%= milestone.status.name %>
        <%= number_with_precision(milestone.amount || (@product.budget * milestone.percentage.to_f / 100), precision: 2) %>
      <% end %>
    <% end %>
  <% elsif @product.statuses.first&.name == 'Production' %>
    for  <%= @product.groupwares.map(&:name).join(', ') %>
    for milestone
    <% @product.milestones.each do |milestone| %>
      <% if milestone.status&.name == 'Production' %>
        <%= milestone.status.name %>
        <%= number_with_precision(milestone.amount || (@product.budget * milestone.percentage.to_f / 100), precision: 2) %>
      <% end %>
    <% end %>
  <% end %>
<p>Assigned user: <%= @assigned_user.first_name %> <%= @assigned_user.last_name %></p>
<p>Click <a href="<%= @url %>">here</a> to view the project.</p>
<p>Best regards,</p>
<p>Your Team</p>