<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello, <%= @user.name %></h1>
<p>What is the issue? <%= @comment.what %> <p></p>
<p>Why the issue arose?<%= @comment.why %>.</p>
<p>Click <a href="<%= @url %>">here</a> to view the comment</p>
<p>Best regards,</p>
<p>Your Team</p>
<p><%= @current_user.name %></p>
</body>
</html>