<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello, <%= @user.name %></h1>

<p><strong>Issue:</strong> <%= @comment.what %></p> for service desk <%= @project.title %></p>

<p><strong>Issue:</strong> <%= @ticket.unique_id %></p>


<p><strong>Reason for the Issue and Our Solution:</strong></p>


<div>
  <%= @comment.content %>
</div>

<p>Click <a href="<%= @url %>">here</a> to view the comment.</p>

<p>Best regards,</p>
<p>Your Team</p>
<p><%= @current_user.name %></p>
</body>
</html>
