<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello, <%= @current_user.name %></h1>

<p><strong>Ticket ID:</strong> <%= @ticket.unique_id %></p>

<p>The status of the ticket "<%= @ticket.issue %>" has been updated to:
  <% @ticket.statuses.each do |status| %>
    <%= status.name %>
  <% end %>
  by <%= @current_user.name %>.
</p>

<p><strong>Ticket Description:</strong> <%= @ticket.content %></p>

<p>Click <a href="<%= @url %>">here</a> to view the ticket.</p>

<p>Best regards,</p>
<p>Your Team</p>
</body>
</html>
