<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p><%= @assigned_user.first_name %> <%= @assigned_user.last_name %> has been assigned a ticket: <%= @ticket.issue %> by <%= @current_user.name %></p>
<p>Priority: <%= @ticket.priority %></p>
<p>Content: <%= @ticket.content.to_plain_text.truncate(800) %></p>
<p>Click <a href="<%= @url %>">here</a> to view the ticket.</p>

<p>Best regards,</p>
<p>Your Team</p>