<%= button_to 'Add New Comment +', new_project_ticket_comment_path(@project.id, @ticket.id), method: :get, class: 'h-12 mb-4 border border-b-4 border-r-2 border-black dark:border-slate-100 p-1 rounded font-semibold rounded'  %>

<% @comment.limit(2).each do |comments| %>
  <% if  comments.ticket.status == 'Work in Progress' %>
  <div class="comment">

    <p><%= comments.ticket.status %></p>
    <p><%= comments.what %></p>
    <p><%= comments.why %></p>
    <p><%= comments.content.to_plain_text.truncate(100)  %>
    <p><%= comments.user.name %></p>
    <p><%= comments.created_at.strftime("%d %b. %Y") %></p>
  </div>
  <% end %>
<% end %>