<div class="flex-col">
  <% if current_user.has_role?(:agent) || current_user.has_role?(:admin) || current_user.has_role?('project manager') ||
       (current_user.has_role?('client') && (@ticket.statuses.pluck('statuses.name').first == 'Reopened' ||
       @ticket.statuses.pluck('statuses.name').first == 'Closed')) %>
    <%# <%= button_to 'New Message +', new_project_ticket_comment_path(@project, @ticket), method: :get, data: {
      turbo_frame: 'modal' }, class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold text-slate-100' %>
  <% end %>

  <% if @comment.present? %>
    <div id="alert-additional-content-1" class="p-4" role="alert">
      <div class="scrollable-section mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        <% @comment.limit(4).each do |comment| %>
          <ol class="relative border-s border-gray-200 dark:border-gray-700 mt-10">
            <li class="mb-10 ms-6">
              <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
                <%= comment.user.name %>
                <% if can? :edit, comment %>
                  <%= button_to edit_project_ticket_comment_path(@project, @ticket, comment), method: :get, data: { turbo_frame: 'modal' },
                    class: 'text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 me-2 inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2 h-3 w-3">
                      <path fill-rule="evenodd" d="M3.75 6a.75.75 0 0 1 .75-.75h15a.75.75 0 0 1 0 1.5h-15a.75.75 0 0 1-.75-.75ZM12 18a.75.75 0 0 1-.75-.75V8.25a.75.75 0 0 1 1.5 0V17.25a.75.75 0 0 1-.75.75Z" clip-rule="evenodd"/>
                    </svg>
                    Edit
                  <% end %>
                <% end %>

                <% if can? :delete, comment %>
                  <%= button_to project_ticket_comment_path(@project, @ticket, comment), method: :delete, data: { confirm: 'Are you sure?' },
                    class: 'text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-200 font-medium rounded-lg text-xs px-3 py-1.5 me-2 inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800' do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="me-2 h-3 w-3">
                      <path fill-rule="evenodd" d="M3.75 6a.75.75 0 0 1 .75-.75h15a.75.75 0 0 1 0 1.5h-15a.75.75 0 0 1-.75-.75ZM12 18a.75.75 0 0 1-.75-.75V8.25a.75.75 0 0 1 1.5 0V17.25a.75.75 0 0 1-.75.75Z" clip-rule="evenodd"/>
                    </svg>
                    Delete
                  <% end %>
                <% end %>
              </h3>
              <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                Posted on <%= comment.created_at.strftime("%I:%M %p at %d %B %Y") %>
              </time>
              <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                <% if comment.content.present? %>
                  <span class="font-extralight pl-2 flex flex-wrap">
                    <%= comment.content.to_plain_text.gsub(/\[.*?\]/, '').strip %>
                    <% if comment.content.body.attachments.any? %>
                      <% comment.content.body.attachments.each do |attachment| %>
                        <div class="mb-2">
                          <% if attachment.attachable.is_a?(ActionText::Attachables::RemoteImage) %>
                            <a href="<%= attachment.attachable.url %>" download>
                              <img src="<%= attachment.attachable.url %>" alt="Remote Image" class="max-w-xs cursor-pointer">
                            </a>
                            <br>
                            <%= link_to attachment.filename.to_s, attachment.attachable.url, target: "_blank", download: true, class: "text-blue-600 hover:underline" %>
                          <% elsif attachment.attachable.is_a?(ActiveStorage::Blob) %>
                            <% if attachment.attachable.previewable? %>
                              <a href="<%= rails_blob_path(attachment.attachable, disposition: 'attachment', only_path: true) %>" download>
                                <img src="<%= rails_representation_url(attachment.attachable.variant(resize_to_limit: [300, 300])) %>" alt="Attachment Preview" class="max-w-xs cursor-pointer">
                              </a>
                              <br>
                              <%= link_to attachment.filename.to_s, rails_blob_path(attachment.attachable, only_path: true), target: "_blank", class: "text-blue-600 hover:underline" %>
                            <% else %>
                              <%= link_to attachment.filename.to_s, rails_blob_path(attachment.attachable, disposition: 'attachment', only_path: true), class: "text-blue-600 hover:underline" %>
                            <% end %>
                          <% else %>
                            <p>Attachment: <%= attachment.filename.to_s %></p>
                            <%= link_to attachment.filename.to_s, rails_blob_path(attachment.attachable, disposition: 'attachment', only_path: true), class: "text-blue-600 hover:underline" %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </span>
                <% end %>
              </p>
            </li>
          </ol>
        <% end %>
      </div>
      <div class="flex gap-10 mt-5">
        <div class="pagination">
          <% if @page2 > 1 %>
            <%= link_to 'Previous', project_ticket_path(@project, @ticket, comment_page: @page2 - 1, active_tab: 'club-records'),
              class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold text-slate-100', remote: true %>
          <% end %>
          <% if @total_pages2 > 1 %>
            <span>Page <%= @page2 %> of <%= @total_pages2 %></span>
            <% if @page2 < @total_pages2 %>
              <%= link_to 'Next', project_ticket_path(@project, @ticket, comment_page: @page2 + 1, active_tab: 'club-records'),
                class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold text-slate-100', remote: true %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('turbo:load', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const activeTab = urlParams.get('active_tab');

    if (activeTab) {
      openCity(null, activeTab);
    } else {
      document.getElementById("tab-history").click();
    }
  });
</script>
