<%= form_with(model: [@project, @ticket, @comment], method: :patch) do |f|%>
  <%= link_to "Back", project_ticket_path(@project.id, @ticket.id) %>
  <div class="relative z-0 w-full mb-6 group">
    <%= f.hidden_field :status, value: @ticket.statuses.pluck('statuses.name').first %>
    <%= f.label :what, :What?, class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
    <%= f.text_field :what, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
  </div>
  <div class="relative z-0 w-full mb-6 group">
    <%= f.label :why, :Why?, class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
    <%= f.text_field :why, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
  </div>
  <h3 class="pb-2 font-bold">
    Solution
  </h3>
  <div class="relative z-0 w-full mb-6 group">
    <div data-controller="text-limit" data-text-limit-limit-value="800">
      <p id="char-count">0/200</p>
      <%= f.rich_text_area :content, id: "content", data: { text_limit_target: "content" }, class: 'min-h-[300px]'%>
    </div>
  </div>
  <%= f.submit "Submit",  class: 'mt-4 h-12 border border-b-4 border-r-2 border-black dark:border-slate-100 p-3 font-semibold rounded'  %>
<% end %>