<% if current_user.has_role? :admin or current_user.has_role?('project manager') or current_user.has_role?(:agent) %>
<%= form_with(model: [project, ticket, ticket.comments.build]) do |f| %>
  <div class="relative z-0 w-full mb-6 group">
    <% @project.tickets.joins(:statuses).each do |ticket| %>
      <%= ticket.statuses.name == 'Status' %>
    <% end %>
    <%= f.hidden_field :status, value: @project.tickets.joins(:statuses) %>
    <%= f.label :what, 'What?', class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white" %><br />
    <%= f.text_field :what, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
  </div>
  <div class="relative z-0 w-full mb-6 group">
    <%= f.label :why, 'Why?', class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white" %><br />
    <%= f.text_field :why, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
  </div>
  <h3 class="pb-2 font-bold"> Solution</h3>
  <div class="relative z-0 w-full mb-6 group">
    <div data-controller="text-limit" data-text-limit-limit-value="800">
      <p id="char-count">0/800</p>
      <%= f.rich_text_area :content, id: "content", data: { text_limit_target: "content" }, class: 'h-[200px]' %>
    </div>
  </div>
  <div class="relative z-0 w-full mb-6 group">
    <%= f.label :notify_users, 'Notify Users', class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white" %><br />
    <%= f.collection_select :user_ids, @project.users, :id, :name, {}, multiple: true, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>
  <%= f.submit "Submit", class: 'mt-4 h-12 border border-b-4 border-r-2 border-black dark:border-slate-100 p-3 font-semibold rounded' %>
<% end %>


<% elsif  current_user.has_role? :client %>
  <%= form_with(model: [project, ticket, ticket.comments.build]) do |f| %>
    <div class="relative z-0 w-full mb-6 group">
      <%= @ticket.status %>
      <%= f.hidden_field :status, value: ticket.status %>
      <%= f.label :what, 'Reason', class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white" %><br />
      <%= f.text_field :what,  class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
    </div>
    <h3 class="pb-2 font-bold"> Clarification</h3>
    <div class="relative z-0 w-full mb-6 group">
      <div data-controller="text-limit" data-text-limit-limit-value="200">
        <p id="char-count">0/200</p>
        <%= f.rich_text_area :content, id: "content", data: { text_limit_target: "content" }, class: 'min-h-[300px]', maxlength: 200 %>
      </div>
    </div>
    <%= f.submit "Submit", class: 'mt-4 h-12 border border-b-4 border-r-2 border-black dark:border-slate-100 p-3 font-semibold rounded' %>
  <% end %>
<% end %>