<%= render 'issues/new_back' %>
<%= form_with(model: [project, ticket, ticket.issues.build], html: { multipart: true }) do |f| %>
  <h3 class="pb-4 font-bold"> Message *</h3>

  <div class="relative z-0 w-full mb-6 group">
    <div data-controller="text-limit" data-text-limit-limit-value="1200">
      <p id="char-count">0/1200</p>

      <%= f.rich_text_area :content, id: "content",
                           data: { text_limit_target: "content", is_admin: current_user.has_role?(:admin) || current_user.has_role?('project manager') || current_user.has_role?('agent') },
                           class: "min-h-[300px] #{'border-red-500' if @issue&.errors[:content].any?}" %>

      <% if @issue&.errors[:content].any? %>
        <span id="content-error" class="text-red-500 text-sm"><%= @issue.errors[:content].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <!-- File field for attachments -->
  <div class="relative z-0 w-full mb-6 group">
    <%= f.label :attachments, "Attachments" %>
    <%= f.file_field :attachments, multiple: true, accept: 'image/*, application/pdf, .docx, .xlsx, .txt', class: 'form-control' %>
  </div>

  <%= f.submit "Submit", class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
<% end %>
