<%= render 'issues/new_back' %>
<%= form_with(model: [project, ticket, ticket.issues.build], html: { multipart: true }, remote: true) do |f| %>
  <h3 class="pb-4 font-bold">Message *</h3>

  <div class="relative z-0 w-full mb-6 group">
    <div data-controller="text-limit" data-text-limit-limit-value="3000">
      <p id="char-count">0/3000</p>

      <%= f.rich_text_area :content, id: "content",
                           data: { text_limit_target: "content", is_admin: current_user.has_role?(:admin) || current_user.has_role?('project manager') || current_user.has_role?('agent')},
                           class: "min-h-[300px] #{'border-red-500' if @issue&.errors[:content].any?}" %>

      <% if @issue&.errors[:content].any? %>
        <span id="content-error" class="text-red-500 text-sm"><%= @issue.errors[:content].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <% unless current_user.has_role?(:client) %>
    <div class="mb-4">
      <%= f.label :message_type, "Message Visibility", class: "block text-sm font-medium text-gray-700" %>
      <%= f.select :message_type, [["Reply To Customer", "external"], ["Add Internal Note", "internal"]],
             { selected: @issue.message_type || "external" },
             class: "mt-1 block w-full" %>
    </div>
  <% end %>

  <%= f.submit "Post Message", class: "px-4 py-2 bg-blue-500 text-white rounded" %>
<% end %>
