<div class="grid grid-cols-2 ">
  <div class="col-span-1">
    <div class="flex flex-wrap gap-1">
      <button onclick="history.back()" class="bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100">
        &#8656; Back
      </button>
    </div>
  </div>
  <!-- Search on the right -->
  <div class="grid col-span-1 justify-end">
    <div class="flex flex-col md:flex-row items-start md:items-center w-full">
      <%= form_with url: project_ticket_path(@project, @ticket), method: :get, class: 'flex gap-2' do |f| %>
        <%= f.text_field :query, placeholder: "Search ", class: "p-1 border border-b-4 border-r-2 rounded" %>
        <%= f.submit "Search", class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-lg text-slate-100 mr-2'  %>
      <% end %>
      <%= form_with url: project_ticket_path(@project, @ticket), method: :get, class: 'flex' do |f| %>
        <%= f.submit "Clear", class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-lg text-slate-100'  %>
      <% end %>

    </div>
  </div>
</div>