<div class="overflow-x-auto shadow-md sm:rounded-lg h-full">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs  uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400 w-[100%]">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name of Project
      </th>
      <th scope="col" class="px-6 py-3">
        Production Description
      </th>
      <th scope="col" class="px-6 py-3 hide-in-sidebar">
        Start Date
      </th>
      <th scope="col" class="px-6 py-3 hide-in-sidebar">
        End Date
      </th>
      <th scope="col" class="px-6 py-3">
        Assignee
      </th>
      <th scope="col" class="px-6 py-3">
        Clients
      </th>
      <th scope="col" class="px-6 py-3 ">
        ACTIONS
      </th>
    </tr>
    </thead>
    <tbody>
    <% if @defect.present? %>
      <% @defect.each do |defect|  %>
        <% if defect.assigned_to?(current_user) or current_user.has_role?(:admin) %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-12 text-left" style="cursor:pointer;" onclick="window.location='<%= defect_path(defect.id) %>'">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-left">
              <%= link_to defect.name, defect_path(defect.id) %>
            </th>
            <td class="px-6 py-4">
              <%= defect.description.truncate(50) %>
            </td>
            <td class="px-6 py-4 hide-in-sidebar">
              <%= defect.start_date.strftime("%d-%b-%y") %>
            </td>
            <td class="px-6 py-4 hide-in-sidebar">
              <% if defect.end_date.present? %>
                <% if defect.end_date <= Date.today %>
                  <p class="text-red-900 p-1 rounded font-bold">
                    <%= defect.end_date.strftime("%d-%b-%y") %>
                  </p>
                <% else %>
                  <p class="bg-red-green p-1 rounded">
                    <%= defect.end_date.strftime("%d-%b-%y") %>
                  </p>
                <% end %>
              <% end %>
            </td>
            <td class="px-6 py-4">
              <%= defect.users.first&.first_name  %>
            </td>
            <td class="px-6 py-4">
              <%= defect.product.client&.name || "N/A" %>
            </td>
            <!-- Actions 11 -->
            <td class="px-6 py-4 text-right" data-controller="dropdown" data-dropdown-ticket-id-value="<%= defect.id %>">
              <div class="relative w-full flex justify-start">
                <%= render partial: 'defect/action_dropdown', locals: { defect: defect } %>
              </div>
            </td>

          </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<div class="flex gap-10 mt-5">
  <!-- Pagination Controls -->
  <div class="pagination">
    <% if @page > 1 %>
      <%= link_to 'Previous', defect_index_path(@defect, page: @page - 1, query: params[:query]), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
    <% end %>
    <span>Page <%= @page %> of <%= @total_pages %></span>
    <% if @page < @total_pages %>
      <%= link_to 'Next', defect_index_path(@defect, page: @page + 1, query: params[:query]), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
    <% end %>
  </div>
</div>