<!-- Improved layout with better spacing -->
<div class="px-4 py-4">
  <p class="text-left capitalize"> 
    <%= truncate(product.content.to_plain_text, length: 50) %>
  </p>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 px-4">  <!-- Added horizontal padding here -->
    <div class="p-2">
      <h3 class="text-sm font-light mb-2">Tasks</h3>
      <p class="text-sm font-semibold">
        <%= product.tasks.joins(:statuses).where(statuses: { name: 'Closed' }).count %> / <%= product.tasks.count %>
      </p>
    </div>
    <div class="p-2">
      <h3 class="text-sm font-light mb-2">Budget</h3>
      <p class="text-sm font-semibold">US <%= product&.budget || 0 %></p>
    </div>
    <div class="p-2">
      <h3 class="text-sm font-light mb-2">Due On</h3>
      <p class="text-sm md:text-sm font-semibold"><%= product.end_date.strftime("%d-%b-%y") if product.end_date %></p>
    </div>
</div>