<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name of the user
      </th>
      <th scope="col" class="px-6 py-3">
        email
      </th>
      <th scope="col" class="px-6 py-3">
        Roles
      </th>
      <th scope="col" class="px-6 py-3">
        No of Projects Raised
      </th>
      <th scope="col" class="px-6 py-3">
        No of Tickets Raised
      </th>
      <th scope="col" class="px-6 py-3">
        No of Issues Raised
      </th>
      <th scope="col" class="px-6 py-3">
        Locked/Unlocked
      </th>
      <th scope="col" class="px-6 py-3">
        Created by invite
      </th>
      <th scope="col" class="px-6 py-3">
        Invitee Counts
      </th>
      <th scope="col" class="px-6 py-3">
        Edit Role
      </th>
    </tr>
    </thead>
    <tbody>

    <% @users.each do |user|  %>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-12 text-center">

          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= link_to user.name, users_path(user.id) %>
          </th>
          <td class="px-6 py-4">
            <%= user.email %>
          </td>
          <td class="px-6 py-4">

            <%= user.roles.distinct.pluck(:name).join(', ') %>
          </td>
          <td class="px-6 py-4">
              <%= user.projects.distinct.pluck(:title).count %>
          </td>
          <td class="px-6 py-4">
            <%= user.tickets.distinct.pluck(:issue).count %>
          </td>

          <td class="px-6 py-4">
            <%= user.issues.distinct.pluck(:id).count %>
          </td>

          <td class="px-6 py-4">
            <%= user.created_at.strftime("%d %B %Y") %>
          </td>

          <td class="px-6 py-4 ">
            <%= user.created_by_invite? %>
          </td>
          <td class="px-6 py-4 ">
            <%= user.invitees.count %>
          </td>


          <td class="px-6 py-4 flex  gap-2">
            <%= link_to 'Edit Roles', edit_user_path(user), class: "border border-b-4 border-r-4 p-2.5 self-center text-center content-center rounded-lg uppercase text-gray-900 font-bold dark:text-white text-sm flex flex-row w-[110px]"  %>
          </td>


        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination mt-4">
  <% if @page > 1 %>
    <%= link_to 'Previous', users_path(@users, page: @page - 1), class: 'mb-4 h-12 w-24 border border-black dark:border-gray-900 border-b-4 border-r-2 p-3 rounded font-semibold rounded' %>
  <% end %>

  <span>Page <%= @page %> of <%= @total_pages %></span>

  <% if @page < @total_pages %>
    <%= link_to 'Next', users_path(@users, page: @page + 1), class: 'mb-4 h-12 w-24 border border-black dark:border-gray-900 border-b-4 border-r-2 p-3 rounded font-semibold rounded' %>
  <% end %>
</div>

