<div class="grid grid-cols-2 ">
  <div class="grid col-span-1">
    <%= button_to 'Add New User +',   new_user_invitation_path , method: :get, class: 'mb-4  h-12 border border-b-4 border-r-2 border-black  px-2 py-2 font-semibold rounded'  %>

  </div>
  <!-- Search on the right -->
  <div class="grid col-span-1 justify-end">

    <div class="flex flex-col md:flex-row items-start md:items-center w-full">

      <%= form_with url: users_path(@users), method: :get, class: 'flex' do |f| %>
        <%= f.text_field :query, placeholder: "Search ", class: "border border-b-4 border-r-2 h-12 rounded" %>
        <%= f.submit "Search", class: "mb-4 ml-4 h-12 border border-b-4 border-r-2 p-2 font-semibold rounded"  %>
      <% end %>

      <%= form_with url: users_path(@users), method: :get, class: 'flex' do |f| %>
        <%= f.submit "Clear", class: "ml-4 mb-4 h-12 border  border-b-4 border-r-2 p-2 font-semibold rounded"  %>
      <% end %>

    </div>



  </div>
</div>