<% if current_user.first_login == true %>
    <div class="mt-14 p-4 flex flex-col">
      <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
        <h1 class="font-bold">Edit Roles *</h1>
        <p class = "text-red-900 p-2 capitalize font-bold">
          <%= @user.errors[:roles].join('') %>
        </p>
        <% if current_user.has_role? :admin %>
          <div class="flex">
          <div class="capitalize pb-4">
            <%= f.collection_check_boxes :role_ids, Role.distinct.all.where.not(name: %w[editor creator]), :id, :name, class: "gap-4" %>
          </div>

          <div class="capitalize pb-4 flex ml-4 gap-2">
            <h1 class="font-bold">Edit Client</h1>
            <%= f.select :client_id, options_from_collection_for_select(Client.all, :id, :name, selected: @user.client_id), { prompt: 'Select Client', include_blank: true }, class: " h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg w-1/2" %>          </div>
          </div>
        <% elsif current_user.has_role?('project manager') %>
          <div class="capitalize pb-4">
            <%= f.collection_check_boxes :role_ids, Role.distinct.all.where.not(name: %w[editor creator admin]), :id, :name, class: "gap-4" %>
          </div>
          <div class="capitalize pb-4 flex ml-4 gap-2">
            <h1 class="font-bold">Edit Client</h1>
            <%= f.select :client_id, options_from_collection_for_select(Client.all, :id, :name, selected: @user.client_id), { prompt: 'Select Client', include_blank: true }, class: " h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg w-1/2" %>          </div>
          </div>
        <% end %>
        <%= f.submit  class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100', id: 'button'   %>

    <% end %>
    </div>
<% end %>