<%= render 'client/top_bar_clients' %>
<%= render 'client/client' %>
<div class="flex gap-10 mt-5">
  <!-- Pagination Controls -->
  <div class="pagination">
    <% if @page > 1 %>
      <%= link_to 'Previous', client_index_path(@client, page: @page - 1), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>

    <% end %>
    <span>Page <%= @page %> of <%= @total_pages %></span>
    <% if @page < @total_pages %>
      <%= link_to 'Next', client_index_path(@client, page: @page + 1), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
    <% end %>
  </div>
</div>