<div class="p-4 border-2 border-white rounded-lg flex flex-col items-center">
  <!-- Topbar Section  for admin and observer-->
  <% if current_user.has_role?(:admin) or current_user.has_role?(:observer) %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 mb-6 w-full ">
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          All Service Desks
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= Project.distinct.count %>
        </span>
      </div>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          Active Users<br>(User who have login more than once)
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= User.joins(:roles).where(roles: { name: ['client','project manager','admin','agent','observer'] }).where('sign_in_count > ?', 0).count %>
        </span>
      </div>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          Active Clients<br>(Clients who have login more than once)
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= User.joins(:roles).where(roles: { name: 'client' }).where('sign_in_count > ?', 0).count %>
        </span>
      </div>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          Active Project Manager<br>(Project Managers who have login more than once)
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= User.joins(:roles).where(roles: { name: 'project manager' }).where('sign_in_count > ?', 0).count %>
        </span>
      </div>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          Active Internal Users<br>(Agents who have login more than once)
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= User.joins(:roles).where(roles: { name: 'agent' }).where('sign_in_count > ?', 0).count %>
        </span>
      </div>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          Tickets Closed in the last one week
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= Ticket.joins(:statuses).where(statuses: { name: %w[Closed Resolved Declined] }).where('tickets.updated_at >= ?', 1.week.ago).count %>
        </span>
      </div>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          All Tickets
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= Ticket.distinct.count %>
        </span>
      </div>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          All Open Tickets
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= Ticket.joins(:statuses).where.not(statuses: { name: %w[Closed Resolved Declined] }).distinct.count %>
        </span>
      </div>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          All Tickets created in the last one week
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= Ticket.where('created_at >= ?', 1.week.ago).count %>
        </span>
      </div>
    </div>
  <% end %>

  <!-- First Grid Section -->

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 mb-4 w-full">
  <%= link_to project_index_path do %>
    <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
      <p class="text-xs sm:text-sm truncate">
        Number of Service Desks
      </p>
      <span class="text-lg sm:text-xl font-bold">
        <%= current_user.projects.distinct.pluck(:id).count %>
      </span>
    </div>
  <% end %>
    <% if current_user.projects.any? %>
      <%= link_to project_tickets_path(project_id: current_user.projects.first.id, status: 'open', user_id: current_user.id), class: 'flex items-center justify-between w-full' do %>
        <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
          <p class="text-xs sm:text-sm truncate">
            My Open Tickets
          </p>
          <span class="text-lg sm:text-xl font-bold">
            <%= current_user.tickets.joins(:statuses).where.not(statuses: { name: %w[Closed Resolved Declined] }).distinct.pluck(:id).count %>
          </span>
        </div>
      <% end %>
    <% else %>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">

      <p class="text-xs sm:text-sm truncate">
        No Tickets Available
      </p>
      </div>
    <% end %>

  <% if current_user.projects.any? %>
    <%= link_to all_tickets_project_tickets_path(project_id: current_user.projects.first.id, status: 'open'), class: 'flex items-center justify-between w-full' do %>
      <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
        <p class="text-xs sm:text-sm truncate">
          Total Number of Open Tickets
        </p>
        <span class="text-lg sm:text-xl font-bold">
          <%= Ticket.joins(:statuses, :project).where(projects: { id: current_user.projects.ids }).where.not(statuses: { name: %w[Closed Resolved Declined] }).distinct.count %>
        </span>
      </div>
    <% end %>
  <% else %>
    <div class="col-span-1 flex items-center dark:bg-gray-700 justify-between p-3 sm:p-4 h-20 sm:h-24 rounded shadow hover:shadow-lg w-full">
      <p class="text-xs sm:text-sm truncate">
        No Open Tickets Available
      </p>
    </div>
  <% end %>
  </div>

  <!-- Table Section -->
  <div class="flex flex-wrap items-center mb-4 rounded bg-gray-50 dark:bg-gray-800 p-2 sm:p-4 w-full">
    <p class="text-base sm:text-2xl text-gray-400 dark:text-gray-500">
      <%= render 'home/table_ticket_per_project' %>
    </p>
  </div>
  <!-- Conditional Admin Section -->
  <% if current_user.has_role?('admin') or current_user.has_role?('project manager') or current_user.has_role?('agent') %>
    <div class="grid gap-4 mb-4 bg-gray-50 dark:bg-gray-800 p-2 sm:p-4 w-full">
      <%= render 'home/breach_visualisation' %>
    </div>
  <% end %>

  <!-- Total List Section -->
  <div class="flex items-center justify-center mb-4 rounded bg-gray-50 dark:bg-gray-800 p-2 sm:p-4 w-full">
    <%= render 'home/total_list' %>
  </div>

  <!-- Responsive Grid Section -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4 w-full">
    <div class="flex items-center justify-center rounded bg-gray-50 p-2 dark:bg-gray-800 w-full">
      <%= render 'home/closed_reopened' %>
    </div>
    <div class="flex items-center justify-center rounded bg-gray-50 p-2 dark:bg-gray-800 w-full">
      <%= render 'home/total_number_tickets' %>
    </div>
    <div class="flex items-center justify-center rounded bg-gray-50 p-2 dark:bg-gray-800 w-full">
      <%= render 'home/pie_charts' %>
    </div>
    <div class="flex items-center justify-center rounded bg-gray-50 p-2 dark:bg-gray-800 w-full">
      <%= render 'home/list_project' %>
    </div>
  </div>
  <!-- Chart Data Section -->
  <div class="flex items-center justify-center mb-4 rounded bg-gray-50 dark:bg-gray-800 p-2 sm:p-4 w-full">
    <%= render 'home/chart_data_per_user' %>
  </div>
</div>
