<div class="overflow-x-auto shadow-md sm:rounded-lg w-[100%] ">
  <table class="w-full text-sm text-left rtl:text-right">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
       Name of the software
      </th>
      <th scope="col" class="px-6 py-3">
        Description of the software
      </th>
      <th scope="col" class="px-6 py-3">
        View
      </th>
      <% if can? :edit, @software %>
        <th scope="col" class="px-6 py-3">
          EDIT
        </th>
      <% end %>
      <% if can? :edit, @software %>
        <th scope="col" class="px-6 py-3">
          DELETE
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @software.each do |software| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-[12px]">
        <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
          <%= link_to software.name, software_path(software.id)    %>
        </th>
        <td class="px-6 py-4 truncate w-64">
          <%= software.description %>
        </td>
        <td class="px-4 py-4">
          <%= link_to 'VIEW', software_path(software.id), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100'  %>
        </td>
        <% if can? :edit, software %>
          <td class="px-4 py-4">
            <%= link_to 'EDIT', edit_software_path(software), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100'  %>
          </td>
        <% end %>
        <td class="px-4 py-4">
          <% if can? :delete, software %>
            <%= button_to 'DELETE', software, method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' }, class: "border border-b-4 border-r-2 border-red-900 p-2 rounded-lg uppercase text-red-900 font-bold"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
