<% if current_user.has_role?(:admin) || current_user.has_role?('project manager') || current_user.has_role?(:agent) %>

  <div>
  <h3>Assigned Users</h3>
  <div class="flex flex-wrap gap-2 mt-2">
    <% if @ticket.users.any? %>
      <% @ticket.users.each do |user| %>
        <p class="border-b-4 border-r-2 border border-black dark:border-slate-100 p-2 min-w-3 gap-2 col-span-1 text-sm rounded">
          <% if user.name.present? %>
            <%= user.name %>
          <% else %>
            <%= truncate(user.email, length: 15, omission: '...') %>
          <% end %>
        </p>
      <% end %>
    <% else %>
      <p class="text-red-500 text-sm">
        No agents assigned. Please assign at least one agent to this ticket.
      </p>
    <% end %>
  </div>

    <div class="flex flex-wrap mt-2 gap-2">
      <div class="text-xs">
        <%= form_with url: assign_tag_project_ticket_path(@project, @ticket), local: true do %>
          <%= label_tag :user_id, "Select User" %>
          <div class="flex flex-wrap">
            <% available_users = User.with_assigned_role.where.not(id: @ticket.users.pluck(:id)).where(id: @project.users.pluck(:id)).distinct %>
            <% if available_users.any? %>
              <%= select_tag :user_id, options_from_collection_for_select(available_users, :id, :name || :email),
                  class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-[120px] h-12 mr-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
              %>
              <div class="">
                <%= submit_tag "ASSIGN USER", class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
              </div>
            <% else %>
              <p class="text-gray-500 text-sm">No available users to assign.</p>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @ticket.users.any? %>
        <div class="text-xs flex flex-wrap gap-2">
          <%= form_with url: unassign_tag_project_ticket_path(@project, @ticket), method: :delete, local: true do %>
            <%= label_tag :user_id, "REMOVE USER" %>
            <div class="flex flex-wrap">
              <%= select_tag :user_id, options_from_collection_for_select(@ticket.users, :id, :name),
                             class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-[120px] h-12 mr-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
              %>
              <%= submit_tag "REMOVE", class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

</div>
<% end %>
