  <div>
  <h3>Assigned Agents</h3>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-2">
    <% @ticket.users.each do |user| %>
      <p class="border-b-4 border-black border p-2 min-w-3 gap-4 col-span-1" >
        <% if user.name.present? %>
          <%= user.name %>
        <% else %>
          <%= truncate(user.email, length: 15, omission: '...') %>
        <% end %>
      </p>
    <% end %>
  </div>

  <% if current_user.has_role?('project manager') or current_user.has_role? :admin %>
    <div class="grid grid-cols-2 mt-2">
      <div class="col-span-1 text-xs">
        <%= form_with url: assign_tag_project_ticket_path(@project, @ticket), local: true do %>
          <%= label_tag :user_id, "Select User" %>
          <p class="flex flex-col ">
            <% available_users = User.with_agent_role.where.not(id: @ticket.users.pluck(:id)).where(id: @project.users.pluck(:id)) %>
            <% if available_users.any? %>
              <%= select_tag :user_id, options_from_collection_for_select(available_users, :id, :name || :email), class: "mr-1 w-[120px] form-select block rounded-md border-gray-300 text-black shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
              <%= submit_tag "Assign User" %>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="col-span-1 text-xs">
        <%= form_with url: unassign_tag_project_ticket_path(@project, @ticket), method: :delete, local: true do %>
          <%= label_tag :user_id, "Select User to Unassign" %>
          <%= select_tag :user_id, options_from_collection_for_select(@ticket.users, :id, :name), class: "mr-1 w-[120px] form-select block rounded-md border-gray-300 text-black shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
          <%= submit_tag "Unassign User" %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>


