<div class="col-span-2 space-y-4 mt-6">
  <div class="grid grid-cols-2 gap-4">
    <!-- Due Date Field -->
    <% if current_user.has_role?(:agent) || current_user.has_role?(:admin) || current_user.has_role?('project manager') || current_user.has_role?(:observer) %>
      <div>
        <div class="text-sm font-semibold uppercase tracking-wider mb-1">Due Date</div>
        <%= form_with model: @ticket, url: update_due_date_project_ticket_path(@ticket.project, @ticket), method: :patch, remote: true, class: "flex items-center gap-2" do |f| %>
          <div class="relative flex-1">
            <%= f.date_field :due_date, value: @ticket.due_date, 
                class: "block w-full border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500",
                required: true %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <button type="submit" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 p-2 text-sm font-medium shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
            </svg>
          </button>
        <% end %>
      </div>
    <% end %>

    <!-- Priority Field -->
    <% if current_user.has_role?(:admin) || current_user.has_role?('project manager') || current_user.has_role?(:observer) %>
      <div>
        <div class="text-sm font-semibold uppercase tracking-wider mb-1">Severity *</div>
        <%= form_with model: @ticket, url: update_priority_project_ticket_path(@ticket.project, @ticket), method: :patch, remote: true do |f| %>
          <div class="flex items-center gap-2">
            <div class="relative flex-1">
              <%= f.select :priority, options_for_select(['SEVERITY 1', 'SEVERITY 2', 'SEVERITY 3', 'SEVERITY 4'], @ticket.priority), {}, 
                  class: "block w-full border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", 
                  required: true %>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>
            <button type="submit" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 p-2 text-sm font-medium shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
              </svg>
            </button>
          </div>
          <% if @ticket.errors[:priority].any? %>
            <div class="mt-1 text-sm text-red-600"><%= @ticket.errors[:priority].join(", ") %></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Issue Type Field -->
  <% if current_user.has_role?(:admin) || current_user.has_role?('project manager') || current_user.has_role?(:observer) %>
    <div>
      <div class="text-sm font-semibold uppercase tracking-wider mb-1">Issue Type *</div>
      <%= form_with model: @ticket, url: update_issue_type_project_ticket_path(@ticket.project, @ticket), method: :patch, remote: true do |f| %>
        <div class="flex items-center gap-2">
          <div class="relative flex-1">
            <% if @ticket.project.special %>
              <%= f.select :issue, options_for_select(['SUPPORT', 'NEW FEATURE', 'BUG', 'REQUEST', 'INCIDENT', 'CHANGE REQUEST'], @ticket.issue), {}, 
                  class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-indigo-500 dark:focus:border-indigo-500", 
                  required: true %>
            <% else %>
              <%= f.select :issue, options_for_select(['SUPPORT', 'NEW FEATURE', 'BUG', 'REQUEST', 'INCIDENT'], @ticket.issue), {}, 
                  class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-indigo-500 dark:focus:border-indigo-500", 
                  required: true %>
            <% end %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 p-2 text-sm font-medium shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
            </svg>
          </button>
        </div>
        <% if @ticket.errors[:issue].any? %>
          <div class="mt-1 text-sm text-red-600"><%= @ticket.errors[:issue].join(", ") %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>