<%= render 'tickets/new_back' %>
<%= form_with(model: [@project, @ticket], method: :put) do |f| %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[100%] p-1">
    <h6>EDIT TICKET</h6>
    <div class="grid grid-cols-2 gap-2 h-[100%] w-[100%]">
      <div class="relative z-0 w-[100%] mb-6 group">
        <%= f.label :issue, :issue, class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
        <%= f.select :issue, (['SUPPORT', 'NEW FEATURE', 'BUG', 'REQUEST', 'INCIDENT']), {}, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Select The Issue' %>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :priority, :Priority, class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
        <%= f.select :priority, ['SEVERITY ONE','SEVERITY TWO','SEVERITY THREE','SEVERITY FOUR'], {}, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Select The Issue' %>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :image, 'Current Image', class: "capitalize block mb-1 text-sm font-medium"  %><br />
        <%= image_tag f.object.ticket_image if f.object.ticket_image.present? %>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :image, 'Upload Image', class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
        <%= f.file_field :ticket_image, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <%= f.label :title, :Subject, class: "capitalize block mb-1 text-sm font-medium"  %><br />
      <div data-controller="text-limit" data-text-limit-limit-value="800">
        <p id="char-count">0/800</p>
        <%= f.rich_text_area :content, id: "content", data: { text_limit_target: "content" }, class: 'min-h-[300px]'%>
      </div>
    </div>
  </div>
  <%= f.submit "Submit",  class: 'mt-4 w-2/5 h-12 border border-b-4 border-r-2 border-black dark:border-slate-100 p-3 rounded font-semibold rounded'  %>
<% end %>
