<%= render 'tickets/new_back' %>
<%= form_with(model: [project, project.tickets.build]) do |f| %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[100%] p-1">
    <div class="grid grid-cols-2 gap-2 h-[100%] w-[100%]">

      <!-- Issue Field -->
      <div class="relative z-0 w-[100%] mb-6 group">
        <%= f.label :issue, ('issue *'), class: "capitalize block mb-1 text-sm font-medium"  %><br />
        <%= f.select :issue, options_for_select(['SUPPORT', 'NEW FEATURE', 'BUG', 'REQUEST', 'INCIDENT']), {}, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Select The Issue', required: true %>
        <% if @ticket.errors[:issue].any? %>
          <div class="text-red-500 text-sm"><%= @ticket.errors[:issue].join(", ") %></div>
        <% end %>
      </div>

      <!-- Priority Field -->
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :priority, ('Severity *'), class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
        <%= f.select :priority, options_for_select(['SEVERITY ONE','SEVERITY TWO','SEVERITY THREE','SEVERITY FOUR']), {}, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Select The Issue', required: true %>
        <% if @ticket.errors[:priority].any? %>
          <div class="text-red-500 text-sm"><%= @ticket.errors[:priority].join(", ") %></div>
        <% end %>
      </div>

      <!-- Software Field -->
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :software_id, 'Product Categories *', class: "capitalize block mb-1 text-sm font-medium" %>
        <%= f.collection_select :software_id, @project.softwares, :id, :name,
                                { prompt: "Select Product" },
                                { class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5",
                                  id: "software-select", data: { action: "change->form#updateGroupwareOptions" } }
        %>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :categories, ('Sub Categories *'), class: "capitalize block mb-1 text-sm font-medium" %>
        <%= f.collection_select :groupware_id, @project.groupwares.where(software_id: @project.software_ids), :id, :name,
                                { prompt: "Select Sub Product", include_hidden: false },
                                class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500",
                                id: "groupware-select"
                                %>
      </div>

      <!-- File Upload Field -->
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :image, 'Upload Image', class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
        <%= f.file_field :ticket_image, accept: "image/jpeg,image/png", class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Select The Issue' %>
        <% if @ticket.errors[:ticket_image].any? %>
          <div class="text-red-500 text-sm"><%= @ticket.errors[:ticket_image].join(", ") %></div>
        <% end %>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :attachments, 'Upload Files (PDF/Excel)', class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white" %><br />
        <%= f.file_field :attachments, multiple: true, accept: ".pdf, .xlsx, .xls", class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        <% if @ticket.errors[:attachments].any? %>
          <div class="text-red-500 text-sm"><%= @ticket.errors[:attachments].join(", ") %></div>
        <% end %>
      </div>

      <div class="relative z-0 w-[100%] mb-6 group">
        <%= f.label :subject, ('Subject *'), class: "capitalize block mb-1 text-sm font-medium"  %><br />
        <%= f.text_field :subject, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Select The Issue', required: true %>
        <% if @ticket.errors[:subject].any? %>
          <div class="text-red-500 text-sm"><%= @ticket.errors[:subject].join(", ") %></div>
        <% end %>
      </div>

    </div>

    <!-- Content Field -->
    <div class="relative z-0 w-full mb-6 group">
      <%= f.label :title, ('Description *'), class: "capitalize block mb-1 text-sm font-medium"  %>
      <br />
      <div data-controller="text-limit" data-text-limit-limit-value="1200">
        <p id="char-count">0/1200</p>
        <%= f.rich_text_area :content, id: "content", data: { text_limit_target: "content", is_admin: current_user.has_role?(:admin) || current_user.has_role?('project manager') || current_user.has_role?('agent') }, class: "min-h-[300px] #{'border-red-500' if @ticket.errors[:content].any?}" %>      </div>
      <!-- Attachments -->
      <% if @ticket.attachments.any? %>
        <h3 class="text-lg font-bold mt-4">Attachments:</h3>
        <% @ticket.attachments.each do |attachment| %>
          <p>
            <%= link_to attachment.filename.to_s, url_for(attachment), target: "_blank", class: "text-blue-500 underline" %>
          </p>
        <% end %>
      <% end %>

      <% @ticket.attachments.each do |attachment| %>
        <div class="attachment-preview">
          <% if attachment.previewable? %>
            <%= image_tag attachment.preview(resize: "300x300") %>
          <% else %>
            <p><%= link_to attachment.filename.to_s, url_for(attachment), target: "_blank" %></p>
          <% end %>
        </div>
      <% end %>

      <% if @ticket.errors[:content].any? %>
        <div class="text-red-500 text-sm"><%= @ticket.errors[:content].join(", ") %></div>
      <% end %>
    </div>


  </div>

  <%= f.submit "Submit", class: 'mt-4 w-2/5 h-12 border border-b-4 border-r-2 border-black dark:border-slate-100 p-3 font-semibold rounded'  %>
<% end %>

<script>


  document.addEventListener('DOMContentLoaded', function () {
  // Get the software select element and groupware select element
  const softwareSelect = document.getElementById('software-select');
  const groupwareSelect = document.getElementById('groupware-select');

  // Add an event listener for when the software is selected
  softwareSelect.addEventListener('change', function (event) {
    const softwareId = event.target.value;

    if (softwareId) {
      // Send a request to fetch the groupwares associated with the selected software_id
      fetch(`/projects/${projectId}/groupwares?software_id=${softwareId}`)
        .then(response => response.json())
        .then(groupwares => {
          // Clear the current groupware options
          groupwareSelect.innerHTML = '<option value="">Select The Product</option>';

          // Populate the groupware dropdown with the new options
          groupwares.forEach(groupware => {
            const option = document.createElement('option');
            option.value = groupware.id;
            option.textContent = groupware.name;
            groupwareSelect.appendChild(option);
          });
        })
        .catch(error => {
          console.error('Error fetching groupwares:', error);
        });
    } else {
      // If no software is selected, clear the groupware options
      groupwareSelect.innerHTML = '<option value="">Select The Product</option>';
    }
  });
});

const projectId = <%= @project.id.to_json %>

</script>