<h3>Ratings</h3>
<p>Average Rating: <%= @ticket.ratings.average(:value).to_f.round(1) %> / 5</p>

<div class="rating-form" data-controller="ticket-ratings">
  <button id="open-modal" 
          class="review_btn" 
          data-action="click->ticket-ratings#openModal">
    Submit A Review
  </button>

  <div id="rating-modal" 
       class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
       data-ticket-ratings-target="modal">
    <div class="bg-white dark:bg-gray-700 rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-lg">
      <div class="px-4 py-3 border-b border-gray-200 flex justify-between items-center">
        <h5 class="text-lg font-semibold">Submit Review</h5>
        <button id="close-modal" 
                class="text-gray-400 hover:text-gray-600"
                data-action="click->ticket-ratings#closeModal">
          &timesX
        </button>
      </div>
      <div class="px-4 py-5">
        <%= form_with model: [@project, @ticket, Rating.new], local: true do |f| %>
          <ul class="flex space-x-2 mb-4 stars">
            <% (1..5).each do |star| %>
              <li class="star"
                  data-value="<%= star %>"
                  data-action="mouseover->ticket-ratings#highlightStars
                              mouseout->ticket-ratings#resetStars
                              click->ticket-ratings#setRating"
                  data-ticket-ratings-star-value="<%= star %>"
                  style="cursor: pointer;">
                <i class="fa fa-star"></i>
              </li>
            <% end %>
          </ul>
          <%= f.hidden_field :value, id: 'rating-value', data: { 'ticket-ratings-target': 'ratingValue' } %>
          <%= f.text_area :comment, class: 'form-control mt-3 w-full bg-white dark:bg-gray-600 border border-gray-300 rounded-md p-2', placeholder: 'Leave a comment...' %>
          <%= f.submit 'Submit', class: 'mt-1 review_btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>