<% if current_user.has_role? :admin or current_user.has_role?('project manager') or current_user.has_role? :agent %>
  <div class="gap-2">
    <% if can? :read, @ticket %>
      <%= form_with model: @ticket, url: add_status_project_ticket_path(@project, @ticket), method: :post, data: { turbo: false, validate: true } do |f| %>
        <%= f.select :status_id, Status.all.collect { |status| [status.name, status.id] }, {}, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        <%= f.submit 'Update ID', class: 'w-full border border-b-4 border-r-2 border-black dark:border-slate-100 mt-1 p-2.5 rounded' %>
      <% end %>
    <% end %>
  </div>
<% end %>


<%= form_with url: add_status_project_ticket_path(@project, @ticket), local: true do %>
  <div class="flex flex-wrap">
    <%= select_tag :status_id, options_for_select(Status.all.collect { |status| [status.name, status.id] }), class: "mr-1 max-w-[120px] form-select block rounded-md border-gray-300 text-black shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
    <div class="">
      <%= submit_tag "ADD STATUS", class: 'border border-b-4 border-r-2 border-black dark:border-slate-100 p-2 rounded font-semibold rounded cursor-pointer' %>
    </div>
  </div>
<% end %>