<div class="w-full">
<%= render 'tickets/search_q' %>

<div class="overflow-x-auto shadow-md sm:rounded-lg w-full p-1">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-2">
        Date of Issue
      </th>
      <th scope="col" class="px-2">
        Ticket ID
      </th>
      <th scope="col" class="px-2">
        Issue
      </th>
      <th scope="col" class="px-2">
        Priority
      </th>
      <th scope="col" class="px-2">
        Summary
      </th>
      <th scope="col" class="px-2">
       Assigned To
      </th>
      <th scope="col" class="px-2">
        STATUS
      </th>
      <th scope="col" class="px-2">
        PROGRESS BAR
      </th>
      <th scope="col" class="px-2">
        Reported By
      </th>
      <th scope="col" class="px-2 ">
        VIEW
      </th>
      <th scope="col" class="px-2 ">
        Status Updated At
      </th>

        <th scope="col" class="px-2 ">
          EDIT
        </th>

      <th scope="col" class="px-2">
        DELETE
      </th>


      <% if current_user.has_role? :admin or current_user.has_role? :agent  or current_user.has_role?('project manager')%>
        <th scope="col" class="px-2 hide-on-sidebar">
          Number of Edits
        </th>
        <th scope="col" class="px-2 hide-on-sidebar">
          Last Edit
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>


    <% @ticket.each do |ticket| %>
    <% if ticket.present? %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 ">

        <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= link_to ticket.created_at.strftime("%d %b %Y"), project_ticket_path(ticket.project, ticket)   %>
        </th>
        <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase">
          <% if ticket.unique_id.present? %>
          <%= link_to ticket.unique_id, project_ticket_path(ticket.project, ticket)  %>
          <% end %>
        </th>
        <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= link_to ticket.issue, project_ticket_path(ticket.project, ticket)   %>
        </th>
        <td class="px-2 py-2 ">
          <% if ticket.priority == 'SEVERITY 1' %>
               <p class='bg-red-900 p-1 text-center text-white font-bold rounded'><%= ticket.priority %></p>
            <% elsif ticket.priority == 'SEVERITY 2' %>
               <p class='bg-red-600 p-1 text-center text-white font-bold rounded'><%= ticket.priority %></p>
            <% elsif ticket.priority == 'SEVERITY 3' %>
               <p class='bg-yellow-500 p-1 text-center text-white font-bold rounded'><%= ticket.priority %></p>
            <% else %>
               <p class='bg-blue-500 p-1 text-center text-white font-bold rounded'><%= ticket.priority %></p>
          <% end %>
        </td>

        <td class="px-2 py-2 truncate w-64 ">
          <% if ticket.subject.present? %>
            <%= ticket.subject.truncate(50) %>
          <% end %>
        </td>
        <td class="px-2 py-2 font-bold">
          <% ticket.users.each do |user| %>
            <% if user.name.present? %>
                <%= user.name %>
            <% end %>
          <% end %>
        </td>
        <td class="px-2 py-2 ">
          <% ticket.statuses.each do |status| %>
            <% case status.name %>
          <% when 'Resolved' %>
              <p class='bg-green-500 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-green-600'>
                <%= status.name %>
              </p>
            <% when 'Closed' %>
              <p class='bg-gray-800 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-gray-900'>
                <%= status.name %>
              </p>
            <% when 'Reopened' %>
              <p class="bg-red-900 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-red-800">
                <%= status.name %>
              </p>
            <% when 'New' %>
              <p class="bg-red-500 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-red-600">
                <%= status.name %>
              </p>
            <% when 'Under Development' %>
              <p class='bg-blue-300 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-blue-400'>
                <%= status.name %>
              </p>
            <% when 'Work in Progress' %>
              <p class='bg-gray-500 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-gray-600'>
                <%= status.name %>
              </p>
            <% when 'QA Testing' %>
              <p class='bg-pink-500 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-pink-600'>
                <%= status.name %>
              </p>
            <% when 'Awaiting Build' %>
              <p class='text-center text-gray-900 dark:text-slate-100 font-semibold rounded p-1 border-black dark:border-slate-100 border border-b-4 border-r-2'>
                <%= status.name %>
              </p>
            <% when 'Client Confirmation Pending' %>
              <p class='bg-purple-500 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-purple-600'>
                <%= status.name %>
              </p>
            <% when 'On-Hold' %>
              <p class='bg-yellow-300 text-center text-black font-semibold rounded p-1 border-r-2 border-b-4 border-yellow-400'>
                <%= status.name %>
              </p>
            <% when 'Assigned' %>
              <p class='bg-blue-800 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-blue-900'>
                <%= status.name %>
              </p>
            <% when 'Approved' %>
              <p class='bg-green-800 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-green-900'>
                <%= status.name %>
              </p>
              <% when 'Pending' %>
              <p class='bg-gradient-to-r from-green-800 to-black text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-green-900'>
                <%= status.name %>
              </p>
        <% when 'Declined' %>
              <p class='bg-gray-800 text-center text-slate-100 font-semibold rounded p-1 border-r-2 border-b-4 border-gray-900'>
                <%= status.name %>
              </p>
            <% end %>
          <% end %>
        </td>
        <!-- Progress Bar -->
        <td class="pl-2 pr-5 py-2">
          <div class="relative w-full">
            <!-- Progress Percentage Tooltip -->
            <div class="absolute top-[-1.5rem] left-0 translate-x-0 text-sm font-bold"
                 style="left: calc(<%= ticket.progress_percentage || 0 %>% - 1rem); color: <%= if ticket.progress_percentage.nil?
                                                                                      '#9CA3AF' # gray-400
                                                                                    elsif ticket.progress_percentage < 30
                                                                                      '#DC2626' # red-600
                                                                                    elsif ticket.progress_percentage < 60
                                                                                      '#2563EB' # blue-600
                                                                                    else
                                                                                      ticket.progress_percentage >= 100 ? '#000000' : '#16A34A' # black or green-600
                                                                                    end %>;"
                 class="<%= 'mr-3' if ticket.progress_percentage == 100 %>">
              <%= ticket.progress_percentage || 0 %>%
            </div>
            <!-- Progress Bar Background -->
            <div class="bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <!-- Dynamic Progress Bar -->
              <div class="<%= if ticket.progress_percentage.nil?
                                'bg-gray-400'
                              elsif ticket.progress_percentage < 30
                                'bg-red-600'
                              elsif ticket.progress_percentage < 60
                                'bg-blue-600'
                              else
                                ticket.progress_percentage >= 100 ? 'bg-black ' : 'bg-green-600'
                              end %> h-2.5 rounded-full"
                   style="width: <%= ticket.progress_percentage || 0 %>%">
              </div>
            </div>
          </div>
        </td>
        <td class="px-2 py-2 capitalize">
          <% if ticket.user.name.present? %>
          <%= ticket.user.name %>
          <% end %>
        </td>
        <td class="px-2 py-2">
          <%= link_to 'VIEW', project_ticket_path(ticket.project, ticket), target: "_blank", class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100' %>
        </td>
        <td class="px-2 py-2">
          <% if ticket.add_statuses.present? %>
            <%= ticket.add_statuses.first.updated_at.strftime('%H:%M of %d-%b-%Y') %>
          <% end %>
        </td>

        <td class="px-2 py-2">
          <% if can?(:edit, ticket) %>
            <%= link_to 'EDIT', edit_project_ticket_path(ticket.project, ticket), class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100 ' %>
          <% end %>
        </td>
        <td class="px-2 py-2">
          <% if can? :destroy, ticket %>
            <%= button_to 'DELETE', [ticket.project, ticket], method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' }, class: ' bg-[#F65160] hover:bg-[#F65160] p-2 rounded-md font-bold rounded-lg text-slate-100'  %>
          <% end %>
        </td>
        <% if current_user.has_role? :admin or current_user.has_role? :agent  or current_user.has_role?('project manager')%>
          <td class="px-2 py-2 text-center hide-on-sidebar">
           <%= ticket.update_count %>
          </td>
          <td class="px-2 py-2 text-center hide-on-sidebar">
            <%= ticket.last_updated_at ? ticket.last_updated_at.strftime("%T") : 'Never' %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>
</div>
</div>

<script>
 document.addEventListener("turbo:load", function() {
    const sidebar = document.getElementById("sidebar"); // Ensure sidebar has this ID
    const tableColumns = document.querySelectorAll(".hide-on-sidebar");

    function toggleColumns() {
      if (sidebar.classList.contains("w-64")) {
        // If sidebar is expanded, hide the columns
        tableColumns.forEach(col => {
          col.style.display = "none";
        });
      } else {
        // If sidebar is collapsed, show the columns
        tableColumns.forEach(col => {
          col.style.display = "table-cell"; // Use table-cell instead of block
        });
      }
    }

    toggleColumns(); // Run initially
    const observer = new MutationObserver(toggleColumns);
    observer.observe(sidebar, { attributes: true });
  });
</script>
