
<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[100%] ">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Date of Issue
      </th>
      <th scope="col" class="px-6 py-3">
        Ticket Number
      </th>
      <th scope="col" class="px-6 py-3">
        Issue
      </th>
      <th scope="col" class="px-6 py-3">
        Priority
      </th>
      <th scope="col" class="px-6 py-3">
        Expected Date of Completion
      </th>
      <th scope="col" class="px-6 py-3">
        Days Remaining
      </th>

      <th scope="col" class="px-6 py-3">
       Assigned To
      </th>
      <th scope="col" class="px-6 py-3">
        STATUS
      </th>
      <th scope="col" class="px-6 py-3">
        VIEW
      </th>

      <% if can? :edit, @ticket %>
      <th scope="col" class="px-6 py-3">
        EDIT
      </th>
      <% end %>
      <% if can? :edit, @ticket %>
        <th scope="col" class="px-6 py-3">
          DELETE
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @ticket.each do |ticket| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-[12px]">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= link_to ticket.created_at.strftime("%d %b %Y"), project_ticket_path(ticket.project, ticket)   %>
        </th>
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= link_to ticket.issue, project_ticket_path(ticket.project, ticket)   %>
        </th>
        <td class="px-6 py-4 ">
          <% if ticket.priority == 'CRITICAL' %>
               <p class='bg-red-900 p-2 text-center text-white font-bold rounded'><%= ticket.priority %></p>
            <% elsif ticket.priority == 'HIGH' %>
               <p class='bg-orange-600 p-2 text-center text-white font-bold rounded'><%= ticket.priority %></p>
            <% elsif ticket.priority == 'MEDIUM' %>
               <p class='bg-yellow-500 p-2 text-center text-white font-bold rounded'><%= ticket.priority %></p>
            <% else %>
               <p class='bg-green-500 p-2 text-center text-white font-bold rounded'><%= ticket.priority %></p>
          <% end %>
        </td>
        <td class="px-6 py-4 truncate w-64 ">
          <%= ticket.content.to_plain_text.truncate(50) %>
        </td>
        <td class="px-6 py-4">

        </td>

        <td class="px-6 py-4">
        </td>

        <td class="px-6 py-4 font-bold">
          <% ticket.users.each do |user| %>
            <% if user.name.present? %>
                <%= user.name %>
            <% end %>
          <% end %>
        </td>

        <td class="px-4 py-4 ">
          <% case ticket.status %>
          <% when 'Resolved', 'Closed' %>
            <p class='bg-green-500 text-center text-slate-100 font-bold rounded p-1'>
              <%= ticket.status %>
            </p>
          <% when 'New', 'Reopened' %>
            <p class="bg-red-500 text-center text-slate-100 font-bold rounded p-1">
              <%= ticket.status %>
            </p>
          <% when 'Work in Progress', 'Under Development' %>
            <p class='bg-yellow-500 text-center text-slate-100 font-bold rounded p-1'>
              <%= ticket.status %>
            </p>
          <% when 'Awaiting Build', 'QA Testing' %>
            <p class='bg-blue-500 text-center text-slate-100 font-bold rounded p-1'>
              <%= ticket.status %>
            </p>
          <% when 'Client Confirmation Pending' %>
            <p class='bg-purple-500 text-center text-slate-100 font-bold rounded p-1'>
              <%= ticket.status %>
            </p>
          <% when 'Assigned', 'On-Hold' %>
            <p class='bg-orange-500 text-center text-slate-100 font-bold rounded p-1'>
              <%= ticket.status %>
            </p>
          <% when 'Declined'%>
            <p class='bg-gray-500 text-center text-slate-100 font-bold rounded p-1'>
              <%= ticket.status %>
            </p>
          <% end %>

        </td>

        <td class="px-4 py-4">
          <%= link_to 'VIEW', project_ticket_path(ticket.project, ticket), class: "border border-b-4 border-r-2 border-black dark:border-slate-100 p-2 rounded-lg uppercase font-bold "  %>
        </td>


        <% if can?(:read, ticket) && ticket.user_id == current_user.id or current_user.has_role? :admin %>
          <td class="px-4 py-4">
            <%= link_to 'EDIT', edit_project_ticket_path(ticket.project, ticket), class: "border border-b-4 border-r-2 border-black dark:border-slate-100 p-2 rounded-lg uppercase font-bold "  %>
          </td>
        <% end %>

        <td class="px-4 py-4">
          <% if can? :destroy, ticket %>
             <%= button_to 'DELETE', [ticket.project, ticket], method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' }, class: "border border-b-4 border-r-2 border-red-900 p-2 rounded-lg uppercase text-red-900 font-bold"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
