<table class="min-w-full bg-white dark:bg-gray-800">
  <thead>
  <tr>
    <th class="py-2 px-4 border-b">ID</th>
    <th class="py-2 px-4 border-b">Date</th>
    <th class="py-2 px-4 border-b">SERVICE DESK NAME</th>
    <th class="py-2 px-4 border-b">ISSUE</th>
    <th class="py-2 px-4 border-b">PRIORITY</th>
    <th class="py-2 px-4 border-b">Summary</th>
    <th class="py-2 px-4 border-b">ASSIGNEE</th>
    <th class="py-2 px-4 border-b">STATUS</th>
    <th class="py-2 px-4 border-b">PROGRESS</th>
    <th class="py-2 px-4 border-b">VIEW</th>
  </tr>
  </thead>
  <tbody>
  <% @tickets.each do |ticket| %>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
      <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase">
        <%= link_to ticket.unique_id, project_ticket_path(ticket.project, ticket) if ticket.unique_id.present? %>
      </th>
      <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <%= link_to ticket.created_at.strftime("%d %b %Y"), project_ticket_path(ticket.project, ticket) %>
      </th>
      <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <%= link_to ticket.project.title, project_ticket_path(ticket.project, ticket) %>
      </th>
      <th scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <%= link_to ticket.issue, project_ticket_path(ticket.project, ticket) %>
      </th>
      <!-- Priority and severity -->
      <td class="px-2 py-2">
        <div class="relative w-full flex justify-center">
          <%= render partial: "tickets/priority_severity", locals: { ticket: ticket } %>
        </div>
      </td>
      <td class="px-4 py-4 grid grid-cols-[auto_1fr_auto] items-center gap-3 sm:gap-4">
        <div class="flex-shrink-0">
          <% if ticket.ticket_image.attached? %>
            <%= image_tag ticket.ticket_image, class: "h-8 w-8 rounded-full object-cover" %>
          <% else %>
            <svg class="h-8 w-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
            </svg>
          <% end %>
        </div>
        <div class="flex flex-col">
          <div class="font-medium whitespace-nowrap overflow-hidden text-ellipsis">
            <%= ticket.subject.truncate(30) if ticket.subject.present? %>
          </div>
          <% if ticket.content.present? %>
            <div class="mt-1 whitespace-nowrap overflow-hidden text-ellipsis">
              <%= ticket.content.to_plain_text.truncate(30) %>
            </div>
          <% end %>
        </div>
      </td>



      <td class="px-2 py-2 font-bold">
        <div class="relative w-full flex justify-center">
          <% ticket.users.each do |user| %>
            <%= user.name if user.name.present? %>
          <% end %>
        </div>
      </td>

      <!-- Ticket Status -->
      <td class="px-2 py-2">
        <div class="relative w-full flex justify-center">
          <%= render partial: "tickets/ticket_status", locals: { ticket: ticket } %>
        </div>
      </td>

      <!-- Progress Bar -->
      <td class="pl-2 pr-5 py-2">
        <div class="relative w-full flex justify-center">
            <%= render partial: "tickets/progress_bar", locals: { ticket: ticket } %>
        </div>
      </td>

      <!-- View button -->
      <td class="px-4 py-4 whitespace-nowrap font-medium" data-controller="dropdown" data-dropdown-ticket-id-value="<%= ticket.id %>">
        <%= render partial: 'tickets/action_dropdown', locals: { ticket: ticket } %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

<!-- Pagination Links -->
<div class="mt-4">
  <% if @page > 1 %>
    <%= link_to 'Previous', project_tickets_path(@project, page: @page - 1),
                class: 'bg-blue-600 hover:bg-blue-500 px-4 rounded text-white text-sm font-semibold transition-all p-2 uppercase'
    %>
  <% end %>
  <% if @page < @total_pages %>
    <%= link_to 'Next', project_tickets_path(@project, page: @page + 1),
                class: 'bg-blue-600 hover:bg-blue-500 px-4 rounded text-white text-sm font-semibold transition-all p-2 uppercase'
    %>
  <% end %>
</div>