
<%= render 'issues/issue_topbar' %>
<%= render 'layouts/alert', class: "" %>
<div class="grid md:grid-cols-3 md:items-center ">
  <div class="w-full col-span-1 h-full content-center">
    <% if @ticket.ticket_image.present? %>
      <%= image_tag @ticket.ticket_image, class: 'zoomable-image w-48 object-cover' %>
    <% else %>
       <%= image_tag 'default.png', class: 'h4 me-3 sm:h7' %>
    <% end %>
  </div>
  <div id="imageModal" class="modal" data-controller="image-modal" data-image-modal-target="modal">
    <span class="close" data-action="click->image-modal#closeModal" data-image-modal-target="closeButton">&times;</span>
    <img class="modal-content" id="fullImage" data-image-modal-target="modalImage" alt='show image'>
  </div>
  <div class="w-full col-span-1 col-span-1 h-full">
    <%= render 'ticket_middle' %>
    <div class="mb-2.5 font-bold uppercase flex">Status:
      <span class="font-medium ml-1">
      </span>

      <% @ticket.statuses.each do |status| %>
        <% case status.name %>
      <% when 'Resolved' %>
          <p class='bg-green-500 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-green-600'>
            <%= status.name %>
          </p>
        <% when 'Closed' %>
          <p class='bg-gray-800 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-gray-900'>
            <%= status.name %>
          </p>
        <% when 'Reopened' %>
          <p class="bg-red-900 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-red-800">
            <%= status.name %>
          </p>
        <% when 'New' %>
          <p class="bg-red-500 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-red-600">
            <%= status.name %>
          </p>
        <% when 'Under Development' %>
          <p class='bg-blue-300 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-blue-400'>
            <%= status.name %>
          </p>
        <% when 'Work in Progress' %>
          <p class='bg-gray-500 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-gray-600'>
            <%= status.name %>
          </p>
        <% when 'QA Testing' %>
          <p class='bg-pink-500 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-pink-600'>
            <%= status.name %>
          </p>
        <% when 'Awaiting Build' %>
          <p class='text-center text-gray-900 dark:text-slate-100 font-bold rounded p-1 border-black dark:border-slate-100 border border-b-4 border-r-2'>
            <%= status.name %>
          </p>
        <% when 'Client Confirmation Pending' %>
          <p class='bg-purple-500 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-purple-600'>
            <%= status.name %>
          </p>
        <% when 'On-Hold' %>
          <p class='bg-yellow-300 text-center text-black font-bold rounded p-1 border-r-2 border-b-4 border-yellow-400'>
            <%= status.name %>
          </p>
        <% when 'Assigned' %>
          <p class='bg-blue-800 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-blue-900'>
            <%= status.name %>
          </p>
        <% when 'Declined' %>
          <p class='bg-gray-800 text-center text-slate-100 font-bold rounded p-1 border-r-2 border-b-4 border-gray-900'>
            <%= status.name %>
          </p>
        <% end %>
      <% end %>
    </div>
    <!-- SLA -->
    <%= render 'sla' %>
    <div class="mb-2.5 font-bold capitalize">Subject:
      <span class="font-extralight">
        <%= @ticket.subject %>
      </span>
    </div>

    <div class="mb-2.5 font-bold capitalize">Content:
      <span class="font-extralight">
        <%= @ticket.content.to_plain_text.truncate(800) %>
      </span>
    </div>
  </div>

  <div class="w-full col-span-1 col-span-1 h-full p-2">
    <%= render 'tickets/assign_people_tickets' %>
    <% if @ticket.attachments.any? %>
      <h3 class="text-lg font-bold mt-4">Attachments:</h3>
      <% @ticket.attachments.each do |attachment| %>
        <div class="mb-2">
          <%= link_to attachment.filename.to_s, rails_blob_path(attachment, disposition: "inline"), target: "_blank", class: "text-blue-500 underline" %>
          <%= link_to "Download", rails_blob_path(attachment, disposition: "attachment"), class: "ml-2 text-green-500 underline" %>
        </div>
      <% end %>
    <% else %>
      <p class="text-gray-500 italic">No attachments available.</p>
    <% end %>
  </div>
</div>
<div class="grid grid-cols-3">
  <div class="mt-2 col-span-2">
    <%= render partial: 'issues/issues_table' %>
  </div>
  <div class="w-full col-span-1 h-full  place-content-center w-full">
    <%= render 'tickets/ticket_action' %>
    <% if current_user.has_role? :admin or current_user.has_role?('project manager') or current_user.has_role? :agent %>
      <% @ticket.statuses.each do |status| %>
        <% if status.name == 'Awaiting Build' or status.name == 'On-Hold' or status.name == 'Closed' or status.name == 'Declined' or status.name == 'Reopened' or status.name == 'QA Testing' or status.name == 'Under Development' or status.name == 'Work in Progress' or status.name == 'Client Confirmation Pending' %>
          <%= render partial: 'comments/comment' %>
        <% end %>
      <% end %>
    <% else %>
      <% @ticket.statuses.each do |status| %>
        <% if  status.name == 'Closed' or status.name == 'Reopened'  %>
          <%= render partial: 'comments/comment' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% @ticket.statuses.each do |status| %>
  <% if current_user.has_role?(:client) &&  status.name == 'Closed' %>
    <%= render 'tickets/ratings' %>
  <% end %>
<% end %>
<style>
    .zoomable-image {
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;

        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<script>

  document.addEventListener('turbo:load', function() {
    const modal = document.getElementById('imageModal');
    const modalImg = document.getElementById('fullImage');
    const closeBtn = document.querySelector('.close');

    // Use event delegation for dynamically added images
    document.addEventListener('click', function(event) {
      const target = event.target;

      if (target.classList.contains('zoomable-image')) {
        modal.style.display = 'block';
        modalImg.src = target.src;
      }
    });

    if (closeBtn) {
      closeBtn.onclick = function() {
        modal.style.display = 'none';
      }
    }

    if (modal) {
      modal.onclick = function() {
        modal.style.display = 'none';
      }
    }
  });



</script>

