<% if current_user.has_role? :admin || current_user.has_role?('project manager') %>
  <div class="grid grid-cols-2 mt-2">
    <div class="col-span-1 text-xs">
      <%= form_with url: assign_user_project_path(@project), local: true do %>
        <%= label_tag :user_id, "SELECT USER" %>
        <div class="flex flex-row">
          <div>
            <%= select_tag :user_id, options_from_collection_for_select(User.with_agent_role, :id, :name), class: "mr-1 w-[120px] form-select block rounded-md border-gray-300 text-black shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
          </div>
          <div class=" col-span-1">
            <%= submit_tag "ASSIGN", class: 'border border-black dark:border-white border-b-4 border-r-2 p-2 rounded font-semibold rounded' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-span-1 text-xs">
      <% if @project.users.present? %>
        <%= form_with url: unassign_user_project_path(@project), method: :delete, local: true do %>
          <%= label_tag :user_id, "SELECT USER TO UNASSING" %>
          <div class="flex flex-row">
            <div>
               <%= select_tag :user_id, options_from_collection_for_select(@project.users, :id, :name), class: "mr-1 w-[120px] form-select block rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"  %>
            </div>
              <%= submit_tag "UNASSING", class: 'border border-black dark:border-white border-b-4 border-r-2 p-2 rounded font-semibold rounded' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>