<!-- app/views/project/_add_assign.html.erb -->
<% if current_user.has_role? :admin or current_user.has_role?('project manager') %>
  <div class="grid grid-cols-3 mt-2 gap-2">
    <div class="col-span-1 text-xs flex flex-col">
      <%= form_with url: assign_user_project_path(@project), local: true do %>
        <%= label_tag :user_id, "Clients" %>
        <div class="flex flex-wrap gap-2">
          <div class="text-xs">
            <%= select_tag :user_id, options_from_collection_for_select(
              @project.users_with_same_client
                      .where.not(id: @project.users.pluck(:id))
                      .distinct,
              :id, :name),
                           class: "border border-gray-300 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:text-white",
                           required: true
            %>
          </div>
          <div class=" col-span-1">
            <%= submit_tag "ADD USER", class: 'mb-4 h-12 text-xs bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-span-1 text-xs">
      <%= form_with url: assign_user_project_path(@project), local: true do %>
        <%= label_tag :user_id, "Craft silicon users" %>
        <div class="flex flex-wrap gap-2">
          <div>
            <%= select_tag :user_id, options_from_collection_for_select(
              @project.craftsilicon_users
                      .where.not(id: @project.users.pluck(:id))
                      .distinct,
              :id, :name),
                           class: "border border-gray-300 rounded-lg text-xs focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:text-white",
                           required: true
            %>
          </div>
          <div class="col-span-1">
            <%= submit_tag "ADD USER", class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold text-xs rounded-lg text-slate-100' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-span-1 text-xs">
      <% if @project.users.present? %>
        <%= form_with url: unassign_user_project_path(@project), method: :delete, local: true do %>
          <%= label_tag :user_id, "REMOVE USER" %>
          <div class="flex flex-wrap gap-2">
            <div>
              <%= select_tag :user_id, options_from_collection_for_select(@project.users, :id, :name),
                  class: "border border-gray-300 rounded-lg text-xs focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:text-white"
              %>
            </div>
            <%= submit_tag "REMOVE USER", class: 'mb-4 text-xs h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>