<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name of Project
      </th>
      <th scope="col" class="px-6 py-3">
        Project Description
      </th>
      <th scope="col" class="px-6 py-3">
        Start Date
      </th>
      <th scope="col" class="px-6 py-3">
        End Date
      </th>
      <th scope="col" class="px-6 py-3">
        Assignee
      </th>
    </tr>
    </thead>
    <tbody>
    <% @project.each do |project|  %>

      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= link_to project.title, project_path(project.id) %>
        </th>
        <td class="px-6 py-4">
          <%= project.description %>
        </td>
        <td class="px-6 py-4">
          <%= project.start_date %>
        </td>
        <td class="px-6 py-4">
          <%= project.end_date %>
        </td>
        <td class="px-6 py-4">
          <%= current_user.name %>
        </td>


      </tr>
    <% end %>

    </tbody>
  </table>
</div>