<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name of Project
      </th>
      <th scope="col" class="px-6 py-3">
        Project Description
      </th>
      <th scope="col" class="px-6 py-3">
        Start Date
      </th>
      <th scope="col" class="px-6 py-3">
        End Date
      </th>
      <th scope="col" class="px-6 py-3">
        Assignee
      </th>
      <th scope="col" class="px-6 py-3">
        Users
      </th>
      <th scope="col" class="px-6 py-3">
        Creator
      </th>
      <th scope="col" class="px-6 py-3">
        Details
      </th>
      <% if current_user.has_role? :admin or current_user.has_role?('project manager') %>
        <th scope="col" class="px-6 py-3">
          EDIT/REMOVE
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>

    <% @project.each do |project|  %>
      <%= turbo_frame_tag dom_id(project) do %>

      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-12">

        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= link_to project.title, project_path(project.id) %>
        </th>
        <td class="px-6 py-4">
          <%= project.description %>
        </td>
        <td class="px-6 py-4">
          <%= project.start_date.strftime("%d %B %Y") %>
        </td>
        <td class="px-6 py-4">
          <% if project.end_date.present? %>
            <%= project.end_date.strftime("%d %B %Y") %>
          <% end %>
        </td>
        <td class="px-6 py-4">
          <%= project.user.name %>
        </td>
        <td class="px-6 py-4">
          <%= project.users.distinct.pluck(:email).join(', ')%>
        </td>
        <td class="px-6 py-4 gap-2">
          <%= project.creators.distinct.pluck(:first_name , :last_name).join('  ') %>
        </td>
        <td class="px-6 py-4 ">
          <%= project.content.to_plain_text.truncate(50) %>
        </td>
        <td class="px-6 py-4 flex  gap-2">
          <% if current_user.has_role? :admin or current_user.has_role?('project manager') %>
            <%= link_to 'Edit', edit_project_path(project), class: "border border-b-4 border-r-4 p-3 rounded-lg uppercase text-gray-900 font-bold dark:text-white"  %>
            <%= button_to 'delete', project, method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' } ,  class: "border border-b-4 border-r-4 p-3 rounded-lg uppercase text-red-900 font-bold" %>
          <% end %>
        </td>


      </tr>
    <% end %>

    <% end %>

    </tbody>
  </table>
</div>

<div class="flex gap-10 mt-5">
  <% if @pagy.prev %>
    <%= link_to "Previous", url_for(page: @pagy.prev), class: 'mb-4 h-12 w-24 text-gray-900 dark:text-gray-900 border border-black dark:border-gray-900 border-b-4 border-r-2 p-3 rounded font-semibold rounded' %>
  <% end %>
  <% if @pagy.next %>
    <%= link_to "Next ", url_for(page: @pagy.next), class: 'mb-4  h-12 w-24 text-gray-900 dark:text-gray-900 border border-black dark:border-gray-900 border-b-4 border-r-2 p-3 rounded font-semibold rounded' %>
  <% end %>

</div>
