<% provide(:title, "Support Desk: #{@project.title}") %>

<% if flash[:notice] %>
  <div class="bg-[#1a237e] border border-[#4caf50] text-white px-4 py-3 rounded mb-4 shadow-md">
    <p><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="bg-red-600 border border-red-400 text-white px-4 py-3 rounded mb-4 shadow-md">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

<%= render 'tickets/ticket_topbar' %>

<div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 mb-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6">
    <!-- First Column -->
    <div class="space-y-2 col-span-1">
      <div class="grid grid-cols-[auto_1fr_auto] items-center gap-3 sm:gap-4">
        <div class="flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
        </div>
        <div class="flex flex-col">
          <h2 class="text-md font-light">Support Desk Manager</h2>
          <p class="text-sm font-semibold"><%= @project.user&.name || 'No Project Manager Assigned' %></p>
        </div>
      </div>

      <div class="grid grid-cols-[auto_1fr_auto] items-center gap-3 sm:gap-4">
        <div class="flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z" />
          </svg>
        </div>
        <div class="flex flex-col">
          <h2 class="text-md font-light">Date to Commence</h2>
          <p class="text-sm font-semibold"><%= @project.start_date.strftime("%d %b %Y") %></p>
        </div>
      </div>
    </div>
    
    <!-- Second Column -->
    <div class="space-y-4 col-span-2">
      <div class="grid grid-cols-2 gap-2">
        <div class="grid grid-cols-[auto_1fr_auto] items-center gap-3 p-4">
          <div class="flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
            </svg>
          </div>
          <div class="flex flex-col">
            <h2 class="text-md font-light">All Open Tickets</h2>
            <p class="text-md font-semibold "><%= @total_tickets_open %></p>
          </div>
          <div class="flex">
            <%= link_to "View",
                        project_path(@project, filter: 'Open'),
                        class: "bg-blue-600 text-white font-medium rounded-md p-2 no-underline hover:bg-blue-700 transition" %>
          </div>
        </div>
        <div class="grid grid-cols-[auto_1fr_auto] items-center gap-3 sm:gap-4">
          <div class="flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          </div>
          <div class="flex flex-col">
            <h2 class="text-md font-light">All Closed Tickets</h2>
            <p class="text-md font-semibold"><%= @closed_tickets %></p>
          </div>
          <div class="flex items-center justify-end">
            <%= link_to "View",
                        project_path(@project, filter: 'Closed_for_all'),
                        class: "bg-blue-600 text-white font-medium rounded p-2 no-underline hover:bg-blue-700 transition" %>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <div class="grid grid-cols-[auto_1fr_auto] items-center gap-3 p-4">
          <div class="flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
            </svg>
          </div>
          <div class="flex flex-col">
            <h2 class="text-md font-light">My Open Tickets</h2>
            <p class="text-md font-semibold "><%= @assigned_and_tickets %></p>
          </div>
          <div class="flex items-center justify-end">
            <%= link_to "View",
                        project_path(@project, filter: 'Assigned_opened'),
                        class: "bg-blue-600 text-white font-medium rounded-md p-2 no-underline hover:bg-blue-700 transition" %>
          </div>
        </div>
        <div class="grid grid-cols-[auto_1fr_auto] items-center gap-3 sm:gap-4">
          <div class="flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
          </svg>
          </div>
          <div class="flex flex-col">
            <h2 class="text-md font-light">My Assigned & Closed</h2>
            <p class="text-md font-semibold"><%= @closed_assigned_tickets %></p>
          </div>
          <div class="flex items-center justify-end">
            <%= link_to "View",
                project_path(@project, filter: 'Assigned_closed'),
                class: "bg-blue-600 text-white font-medium rounded-md p-2 no-underline hover:bg-blue-700 transition" %>
          </div>
        </div>
      </div>
    </div>


    <!-- Third Column -->
    <div class="px-16 grid grid-cols-[auto_1fr_auto] gap-3 sm:gap-4 col-span-2">
      <div class="flex flex-col">
        <h2 class="text-md font-light">Products</h2>
        <div class="text-md font-semibold">
          <% if @project.softwares.any? %>
            <ul class="flex flex-wrap gap-4 items-center">
              <% @project.softwares.each do |software| %>
                <% software.groupwares.each do |groupware| %>
                  <% active_groupware = @project.tickets.where(groupware_id: groupware.id).count %>
                  <% if active_groupware > 0 %>
                    <li class="flex items-center gap-2">
                  <span>
                    <%= image_tag(groupware.image.presence || 'default.png', class: 'sm:h-6 md:h-10 rounded-md object-cover') %>
                  </span>
                      <span class="text-md font-semibold"><%= groupware.name %></span>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <p>No sub-product present</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-2 border-gray-200 rounded-lg dark:border-gray-700">
  
  <div class="flex pt-2 mb-4 rounded bg-gray-50 dark:bg-gray-800 min-h-full w-full">
    <% if @project.assigned_to?(current_user) or current_user.has_role?(:admin) or current_user.has_role?(:agent) or current_user.has_role?(:observer) %>
      <%= render 'tickets/ticket' %>
    <% end %>
    
  </div>
  <h1>Total Tickets:
    <span class="font-medium">
      <%= @ticket_count %>
    </span>
  </h1>
</div>

<div class="flex flex-col md:flex-row gap-10 mt-5">
  <!-- Pagination Controls -->
  <div class="pagination">
    <% if @page > 1 %>
      <%= link_to 'Previous', project_path(@project, params.permit!.merge(page: @page - 1)), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
    <% end %>

    <span>Page <%= @page %> of <%= @total_pages %></span>

    <% if @page < @total_pages %>
      <%= link_to 'Next', project_path(@project, params.permit!.merge(page: @page + 1)), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
    <% end %>
  </div>
</div>