<%= render 'tickets/ticket_topbar' %>
<div class="p-2 border-2 border-gray-200 border rounded-lg dark:border-gray-700">
  <div class="grid grid-cols-7 gap-4 mb-4 h-full">
    <div class="p-4 items-center justify-center rounded col-span-2 border-r-2">
      <%= render 'layouts/alert' %>
      <h1 class="text-2xl">
        <%= @project.title %>
      </h1>
      <p class="capitalize"><%= @project.description %></p>
      <div>
        <%= render 'project/add_assign' %>
      </div>
      <div>
        <%= render 'project/add_teams' %>
      </div>
    </div>

    <div class="font-semibold p-2 justify-between rounded col-span-3 border-r-2 flex gap-4">
      <div>
        <h1>Project Manager: <span class="font-light"><%= @project.user&.name || 'No Project Manager Assigned' %></span></h1>
        <h1>Product:
          <span class="font-light">
          <% if @project.softwares.any? %>
            <ul>
              <% @project.softwares.each do |software| %>
                <li><%= software.name %></li>
              <% end %>
            </ul>
          <% else %>
            No Product Assigned
          <% end %>
        </span>
        </h1>
        <h1>Sub-Products</h1>
        <span class="font-light">
          <% if @project.softwares.any? %>
            <% @project.softwares.each do |software| %>
              <ul>
                <% software.groupwares.each do |groupware| %>
                  <li>
                    <%= groupware.name %> - Active Tickets: <%= @project.tickets.where(groupware_id: groupware.id).count %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% else %>
            No sub-product present
          <% end %>
        </span>
      </div>
      <div>
        <h1>Date to Commence: <span class="font-light"><%= @project.start_date.strftime("%d %b %Y") %></span></h1>
        <% if current_user.has_role?(:admin) or current_user.has_role?(:agent) or current_user.has_role?('project manager') %>
          <h1>Assigned Ticket: <span class="font-light"><%= @assigned_tickets %></span></h1>
          <h1>Assigned & Closed: <span class="font-light"><%= @closed_assigned_tickets %></span></h1>
        <% end %>
        <h1>Total New Tickets: <span class="font-light"><%= @project.tickets.joins(:statuses).where(statuses: { name: 'New' }).count %></span></h1>

        <h1>Total Tickets: <span class="font-light"><%= @project.tickets.count %></span></h1>
        <h1>Resolved Tickets: <span class="font-light"><%= @resolved_tickets %></span></h1>
        <h1>Closed Tickets: <span class="font-light"><%= @closed_tickets %></span></h1>

      </div>
    </div>

    <div class="col-span-2">
      <%= render 'assign_people' %>
    </div>
  </div>
  <div class="flex pt-2 mb-4 rounded bg-gray-50 dark:bg-gray-800 min-h-[300px]">
    <% if @project.assigned_to?(current_user) or current_user.has_role?(:admin) or current_user.has_role?(:observer) %>
      <%= render 'tickets/ticket' %>
    <% end %>
  </div>
  <h1>Total Tickets:
    <span class="font-medium">
      <%= @project.tickets.count %>
    </span>
  </h1>
</div>

<div class="flex gap-10 mt-5">
  <!-- Pagination Controls -->
  <div class="pagination">
    <% if @page > 1 %>
      <%= link_to 'Previous', project_path(page: @page - 1, query: params[:query]), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>

    <% end %>
    <span>Page <%= @page %> of <%= @total_pages %></span>
    <% if @page < @total_pages %>
      <%= link_to 'Next', project_path(page: @page + 1, query: params[:query]), class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
    <% end %>
  </div>
</div>