<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-400">
    <thead class="text-xs  uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name of Project
      </th>
      <th scope="col" class="px-6 py-3">
        Production Description
      </th>
      <th scope="col" class="px-6 py-3">
        Start Date
      </th>
      <th scope="col" class="px-6 py-3">
        End Date
      </th>
      <th scope="col" class="px-6 py-3">
        Assignee
      </th>
      <th scope="col" class="px-6 py-3">
        Product Category
      </th>
      <th scope="col" class="px-6 py-3">
        Clients
      </th>
      <% if current_user.has_role? :admin or current_user.has_role?('project manager') %>
        <th scope="col" class="px-6 py-3">
          EDIT/REMOVE
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>

    <% @product.each do |product|  %>
      <% if product.added_to?(current_user) or current_user.has_role?(:admin) %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-12 text-left">
          <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-left">
            <%= link_to product.name, product_path(product.id) %>
          </th>
          <td class="px-6 py-4">
            <%= product.description.truncate(50) %>
          </td>
          <td class="px-6 py-4">
            <%= product.start_date.strftime("%d-%b-%y") %>
          </td>
          <td class="px-6 py-4">
            <% if product.end_date.present? %>
              <% if product.end_date <= Date.today %>
                <p class="text-red-900 p-1 rounded font-bold">
                  <%= product.end_date.strftime("%d-%b-%y") %>
                </p>
              <% else %>
                <p class="bg-red-green p-1 rounded">
                  <%= product.end_date.strftime("%d-%b-%y") %>
                </p>
              <% end %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <%= product.user.name %>
          </td>
          <td class="px-6 py-4 capitalize ">
            <% if product.software.present? && product.software.name.present? %>
              <%= product.software.name %>
            <% end %>
          </td>
          <td class="px-6 py-4 capitalize ">
            <% if product.client.present? && product.client.name.present? %>
              <%= product.client.name %>
            <% end %>
          </td>
          <% if current_user.has_role? :admin or current_user.has_role?('project manager') %>
            <td class="px-6 py-4 flex  gap-2">
              <% if can? :edit, product %>
                <%= link_to 'Edit', edit_product_path(product), class: "border border-b-4 border-r-4 border-black dark:border-slate-100 p-2 rounded-lg uppercase font-bold "  %>
              <% end %>
              <% if can? :delete, product %>
                <%= button_to 'delete', product, method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' } ,  class: "border border-b-4 border-r-4 border-red-900 p-2 rounded-lg uppercase text-red-900 font-bold" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="flex gap-10 mt-5">
  <!-- Pagination Controls -->
  <div class="pagination">
    <% if @page > 1 %>
      <%= link_to 'Previous', product_index_path(@product, page: @page - 1, query: params[:query]), class: 'mb-4 h-12 w-24 border border-b-4 border-black dark:border-slate-100 border-r-2 p-3 font-semibold rounded' %>
    <% end %>
    <span>Page <%= @page %> of <%= @total_pages %></span>
    <% if @page < @total_pages %>
      <%= link_to 'Next', product_index_path(@product, page: @page + 1, query: params[:query]), class: 'mb-4 h-12 w-24 border border-b-4 border-r-2 p-3 border-black dark:border-slate-100 font-semibold rounded' %>
    <% end %>
  </div>
</div>
