<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 mt-6">
  <% @product.each do |product| %>
    <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg" style="cursor:pointer;" onclick="window.location='<%= product_path(product.id) %>'">
      <div>
        <div class="flex justify-between mb-2 bg-gray-200 dark:bg-gray-700 p-2 rounded-t-lg">
          <div class="flex items-center gap-4">
          <% if product.image.present? %>
            <%= image_tag(product.image, class: 'w-8 h-8 rounded-md') %>
          <% else %>
            <%= image_tag 'default.png', class: 'w-8 h-8 rounded-md' %>
          <% end %>
            <p class="text-sm font-semibold uppercase"><%= product.client.present? ? product.client.name : 'No Client Assigned' %></p> -
            <p class="text-sm font-semibold capitalize">
              <%= product.groupwares.map(&:name).join(', ') %>
            </p>
          </div>
          <div class="rounded-full border border-2 p-2 border-white bg-white dark:bg-gray-700">
            <p class="text-sm font-semibold"><%= product.statuses.first&.name %></p>
          </div>
          <% if current_user.has_role?(:admin) && can?(:edit, product) %>
            <div class="flex justify-end">
              <%= link_to edit_product_path(product), 
                          class: "p-1 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 text-gray-500 dark:text-gray-400",
                          data: { turbo: false } do %>
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                </svg>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <%= render partial: 'product/task_budget' , locals: { product: product } %>
        </div>
      </div>
      <div class="p-2">
        <hr>
      </div>


      <div class="p-2">
        <!-- All users assigned to the product show first 5 only-->
        <%= render partial: 'product/user_list_index', locals: { product: product } %>
      </div>

      </div>
  <% end %>
</div>
<%= render partial: 'product/grid_pagination' %>