<%= form_with model: @product, url: product_index_url, method: :post, data: { turbo: false }, local: true do |f| %>
  <div class="md:gap-6">
    <div>
      <% if @product.errors.any? %>
        <div id="error_explanation" class="flex flex-row justify-center gap-10">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this event from being saved:</h2>
          <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li class="text-red-900 font-semibold"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <!-- Name Field -->
    <div class="relative z-0 w-full mb-6 group">
      <%= f.label :name, ('Name*'), class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
      <%= f.text_field :name, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
      <% if @product.errors[:name].any? %>
        <div class="text-red-500 text-sm"><%= @product.errors[:name].join(', ') %></div>
      <% end %>
    </div>

    <!-- Description Field -->
    <div class="grid grid-cols-2 gap-2">
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :description, ('Product Description*'), class: "capitalize block mb-1 text-sm font-medium"  %><br />
        <%= f.text_field :description, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
        <% if @product.errors[:description].any? %>
          <div class="text-red-500 text-sm"><%= @product.errors[:description].join(', ') %></div>
        <% end %>
      </div>

      <!-- Assignee Field -->
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :Assignee, ('Assignee*'), class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
        <%= f.select :user_id, User.with_agent_project_manager_role.order(:first_name, :last_name).map { |user| [user.name, user.id] }, {}, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Assign User', required: true %>
      </div>

      <!-- Image Field -->
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :image, ('Product Image'), class: "capitalize block mb-1 text-sm font-medium" %>
        <%= f.file_field :images, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '' %>
      </div>

      <!-- Categories and Client Fields -->
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :software, ('Product Categories*'), class: "capitalize block mb-1 text-sm font-medium" %>
        <%= f.collection_select :software_id, Software.all, :id, :name, { prompt: "Select Product" }, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :software, ('Client Available*'), class: "capitalize block mb-1 text-sm font-medium" %>
        <%= f.collection_select :client_id, Client.all, :id, :name, { prompt: "Select Client" }, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>

    <!-- Dates Fields -->
    <div class="grid grid-cols-2 gap-2">
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :start_date, 'Start Date*', class: "capitalize block mb-1 text-sm font-medium"  %><br />
        <%= f.date_field :start_date, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <%= f.label :end_date, 'End Date*', class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
        <%= f.date_field :end_date, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: '', required: true %>
      </div>
    </div>

    <!-- Content (Subject) Field -->
    <div class="relative z-0 w-full mb-6 group">
      <%= f.label :title, ('Subject*'), class: "capitalize block mb-1 text-sm font-medium"  %><br />
      <div data-controller="text-limit" data-text-limit-limit-value="800">
        <p id="char-count">0/800</p>
        <%= f.rich_text_area :content, id: "content",
                             data: { text_limit_target: "content" },
                             class: "min-h-[300px] #{'border-red-500' if @product.errors[:content].any?}",
                             required: true %>
      </div>
      <% if @product.errors[:content].any? %>
        <div class="text-red-500 text-sm"><%= @product.errors[:content].join(', ') %></div>
      <% end %>
    </div>
  </div>

  <%= f.submit  class: 'mb-4 h-12 border border-black dark:border-white border-b-4 border-r-2 p-3 rounded font-semibold rounded'  %>

<% end %>
