<%= render 'boards/top_board' %>
<div class="grid grid-cols-3 gap-4 mb-4 w-screen">
  <div class="p-4 items-center justify-center rounded col-span-1 border-r-2">
    <%= render 'layouts/alert' %>
    <h1 class="text-xl">
      Name of the Project: <%= @product.name %>
    </h1>
    <p class="capitalize text-sm text-balance">
      <%= @product.description.truncate(100) %>
    </p>
    <div>
      <%= render 'product/add_users' %>
    </div>
    <% unless current_user.has_role?(:client) %>
    <div class="mt-2">
      <% new_board = Board.find_by(status: 'TO DO') %>
      <% if new_board && @boards.present? && @tasks.present? %>
        <% @boards.first(1).each do |board| %>
          <% @tasks.first(1).each do |task| %>
            <%= link_to 'Add Task', new_product_board_task_bug_path(@product.id, board.id, task.id), class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-lg text-slate-100' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% end %>
    <div class="flex flex-row">
      <%= link_to 'Add Bug', new_product_bug_path(@product ), class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100' %>
    </div>
  </div>
  <div class="font-semibold p-4 justify-between rounded col-span-1 col-span-1 border-r-2 ">
    <h1>Date Created: <span class="font-light p-1"><%= @product.created_at.strftime("%I:%M %p at %d %b %y") %></span></h1>
    <h1>Date to Commence: <span class="font-light p-1"><%= @product.start_date.strftime("%d %b %y") %></span></h1>
    <h1 class="flex gap-1">Expected Date of Completion:
      <span class="font-light">
        <% if @product.end_date.present? %>
          <% if @product.end_date <= Date.today %>
            <p class="bg-red-900  rounded px-2  py-0.5 font-bold">
              <%= @product.end_date.strftime("%d-%b-%y") %>
            </p>
          <% else %>
            <p class="bg-red-green  rounded px-2 py-0.5  font-bold">
              <%= @product.end_date.strftime("%d-%b-%y") %>
            </p>
          <% end %>
        <% end %>
      </span>
    </h1>
    <!-- show added documents name and download button -->
    <div class="flex">
      <% if @product.documents.any? %>
        <ul>
          <% @product.documents.each do |document| %>
            <li class="flex gap-2">
              <h1 class="capitalize"><%= document.name %></h1> -
              <%= link_to "Download", rails_blob_path(document.file, disposition: "attachment"), class: "text-blue-500" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="col-span-1">
    <%= render 'product/added_users' %>
  </div>

</div>

<div class="relative w-full overflow-hidden flex justify-center">
  <% if @product.added_to?(current_user) or current_user.has_role?(:admin) %>
    <div class="w-full overflow-auto transform origin-top scale-90 md:scale-100">
      <%= render 'boards/board_display' %>
    </div>
  <% end %>
</div>

<div class="flex pt-2 mb-4 rounded bg-gray-50 dark:bg-gray-800 w-full">
  <% if @product.added_to?(current_user) or current_user.has_role?(:admin) %>
    <%= render 'bugs/bugs_view' %>
  <% end %>
</div>