<% provide(:title, "Project: #{@product.name}") %>

<% if flash[:notice] %>
  <div class="bg-[#1a237e] border border-[#4caf50] text-white px-4 py-3 rounded mb-4 shadow-md">
    <p><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="bg-red-600 border border-red-400 text-white px-4 py-3 rounded mb-4 shadow-md">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

<%= render 'product/product_show_topbar' %>

<div class="bg-white max-w-full dark:bg-gray-800 rounded-lg shadow p-6 mb-6">
<%= render 'layouts/alert' %>
  <div class="grid grid-cols-5 gap-6">
    <!-- First Column -->
    <%= render 'product/product_show_first_column' %>

    <!-- Fourth Column -->
    <div class="px-16 grid grid-cols-[auto_1fr_auto] gap-3 sm:gap-4 col-span-1">
      <!-- show added documents name and download button -->
      <div class="flex">
        <% if @product.documents.any? %>
          <ul>
            <% @product.documents.each do |document| %>
              <li class="flex gap-2">
                <h1 class="capitalize"><%= document.name %></h1>
                <% if document.file.attached? %>
                  - <%= link_to "Download", rails_blob_path(document.file, disposition: "attachment"), class: "text-blue-500" %>
                <% else %>
                  <span class="text-gray-400">No file</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p> There are no documents for this product</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- The products search form partial -->
<div class="">
  <%= render 'product/product_show_search' %>
</div>


<div class="relative max-w-full">
  <% if @product.added_to?(current_user) || current_user.has_role?(:admin) %>
    <div class="h-screen p-2 overflow-x-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-5 min-w-full">

        <% @tasks_by_status.each do |status, tasks| %>
          <div class="bg-white dark:bg-gray-700 rounded px-2 py-2">
            <!-- Board Header -->
            <div class="flex justify-between items-center mb-2 mx-1">
              <div class="flex items-center">
                <h2 class="bg-gray-200 text-sm w-max px-2 py-1 rounded text-gray-700 capitalize"><%= status %></h2>
                <p class="text-gray-400 text-sm ml-2"><%= tasks.count %></p>
              </div>
              <div class="text-gray-300 text-2xl">+</div>
            </div>

            <!-- Board Cards -->
            <div class="grid gap-2 p-2">
              <% tasks.each do |task| %>
                <%= render partial: 'tasks/card', locals: { task: task } %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
<% end %>
</div>
