<div class="relative overflow-x-auto shadow-md sm:rounded-lg h-full">
  <table class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-400">
    <thead class="text-xs uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3 whitespace-nowrap">Name of Team</th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap">Team Description</th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap">Members(Number of Users)</th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap">ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <% @team.each do |team|   %>
      <% if current_user.has_role?(:admin) or current_user.has_role?(:observer) or current_user.has_role?('project manager')%>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="px-6 py-4 font-medium whitespace-nowrap">
            <%= link_to team.name, team_path(team.id) %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <%= team.description.truncate(30) %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <%= team.users.count %>
          </td>
          <!-- Actions li -->
          <td class="px-6 py-4 whitespace-nowrap font-medium text-right" data-controller="dropdown" data-dropdown-ticket-id-value="<%= team.id %>"> 
            <div class="relative flex justify-start"> 
              <%= render partial: 'team/action_dropdown', locals: { team: team } %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>