
<div class="grid grid-cols-2 mb-4">
  <div class="grid col-span-1">
    <div class="flex gap-1">
      <%= button_to project_index_path, method: :get, class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100' do %>
        &#8656; Back
      <% end %>
      <% unless current_user.has_role?(:observer) %>
        <%=  button_to 'Add New Team +', new_team_path, method: :get, class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100'   %>
      <%  end %>
    </div>
  </div>
  <!-- Search on the right -->
  <div class="grid col-span-1 justify-end">
    <div class="flex flex-col md:flex-row items-start md:items-center w-full">
      <%= form_with url: team_index_path, method: :get, class: 'flex gap-2' do |f| %>
        <%= f.text_field :query, placeholder: "Search ", class: "p-1 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-md" %>
        <%= f.submit "Search", class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100 mr-2'  %>
      <% end %>
      <%= form_with url: team_index_path, method: :get, class: 'flex' do |f| %>
        <%= f.submit "Clear", class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100'  %>
      <% end %>
    </div>
  </div>
</div>
<% if flash[:prompt] %>
  <div id="custom-alert" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white rounded-lg p-6 max-w-sm w-full shadow-lg">
      <h2 class="text-xl font-semibold mb-4 text-gray-800">Notice</h2>
      <p class="text-gray-600"><%= flash[:prompt] %></p>
      <div class="mt-4 text-right">
        <button id="close-alert" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          OK
        </button>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    document.addEventListener("turbo:load", function() {
      const alertBox = document.getElementById("custom-alert");
      const closeButton = document.getElementById("close-alert");

      closeButton.addEventListener("click", function() {
        alertBox.remove(); // Completely removes the modal from the DOM
      });
    });
  </script>
<% end %>

