<%= form_with(model: [product, board, task, task.bugs.build], url: new_product_board_task_bug_path(product, board, task)) do |f| %>
  <div class="grid grid-cols-2 gap-2 mt-4">
  <div class="relative z-0 w-[100%] mb-6 group">
    <%= f.label :issue, ('issue *'), class: "capitalize block mb-1 text-sm font-medium"  %><br />
    <%= f.select :issue, options_for_select(['SUPPORT', 'NEW FEATURE', 'BUG', 'REQUEST', 'INCIDENT']), {}, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:text-white", placeholder: 'Select The Issue', required: true %>
  </div>

  <!-- Priority Field -->
  <div class="relative z-0 w-full mb-6 group">
    <%= f.label :priority, ('Severity *'), class: "capitalize block mb-1 text-sm font-medium text-gray-900 dark:text-white"  %><br />
    <%= f.select :priority, options_for_select(['SEVERITY 1','SEVERITY 2','SEVERITY 3','SEVERITY 4']), {}, class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Select The Issue', required: true %>
  </div>
  </div>
  <%= f.submit 'Add Bug', class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>


<% end %>