<div class="grid grid-cols-2 mt-2 gap-2">
  <div class="col-span-1 text-xs">
    <%= form_with url: add_bug_product_board_task_bug_path(@product, @board, @task, @bug), local: true do %>
      <%= label_tag :user_id, "SELECT USER" %>
      <div class="flex gap-2">
        <div>
          <% available_users = User.with_agent_role.where.not(id: @task.users.pluck(:id)).where(id: @product.users.pluck(:id)).distinct %>
          <% if available_users %>
            <%= select_tag :user_id, options_from_collection_for_select(available_users, :id, :name || :email), class: "h-12 mr-1 max-w-[120px] form-select block rounded-md border-gray-300 text-black shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm", required: true %>
          <% end %>
        </div>
        <div>
          <%= submit_tag "Assign User", class: "mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="mt-4">
  <h3 class="text-lg font-semibold">Assigned Users:</h3>
  <ul class="list-disc pl-5">
    <% @task.users.each do |user| %>
      <li class="mt-2">
        <% if user.profile_picture.attached? %>
          <%= image_tag user.profile_picture, class: 'inline-block h-10 w-10 rounded-full mr-2' %>
        <% else %>
          <%= image_tag 'default.png', class: 'inline-block h-10 w-10 rounded-full mr-2' %>
        <% end %>
        <span class="font-medium"><%= user.name || user.email %></span>
      </li>
    <% end %>
  </ul>
</div>