<div class="mb-2.5 font-bold capitalize flex flex-wrap ">
  <% if @bug.content.present? %>
    <div class="pl-2 flex flex-wrap m-1">
      <%= raw @bug.content.to_trix_html.gsub(/\[.*?\]/, '').strip %>
      <% if @bug.content.body.attachments.any? %>
        <% @bug.content.body.attachments.each do |attachment| %>
          <div class="mb-2">
            <% if attachment.attachable.is_a?(ActionText::Attachables::RemoteImage) %>
              <a href="<%= attachment.attachable.url %>" download>
                <img src="<%= attachment.attachable.url %>" alt="Remote Image" class="max-w-xs cursor-pointer pl-2">
              </a>
              <br>
              <% if attachment.attachable.is_a?(ActiveStorage::Blob) %>
                <%= link_to attachment.attachable.filename.to_s, rails_blob_path(attachment.attachable, disposition: 'attachment', only_path: true), target: "_blank", download: true, class: "text-blue-600 hover:underline pl-2" %>
              <% end %>
            <% elsif attachment.attachable.is_a?(ActiveStorage::Blob) %>
              <% if attachment.attachable.previewable? %>
                <a href="<%= rails_blob_path(attachment.attachable, disposition: 'attachment', only_path: true) %>" download>
                  <img src="<%= rails_representation_url(attachment.attachable.variant(resize_to_limit: [300, 300])) %>" alt="Attachment Preview" class="max-w-xs cursor-pointer pl-2">
                </a>
                <br>
                <%= link_to attachment.filename.to_s, rails_blob_path(attachment.attachable, only_path: true), target: "_blank", class: "text-blue-600 hover:underline pl-2" %>
              <% else %>
                <%= link_to attachment.filename.to_s, rails_blob_path(attachment.attachable, disposition: 'attachment', only_path: true), class: "text-blue-600 hover:underline pl-2" %>
              <% end %>
            <% else %>
              <p>Attachment: <%= attachment.filename.to_s %></p>
              <%= link_to attachment.filename.to_s, rails_blob_path(attachment.attachable, disposition: 'attachment', only_path: true), class: "text-blue-600 hover:underline pl-2" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>