<div class="flex flex-wrap gap-2">
  <% if @bug.user.present? %>
      <% if @bug.user.profile_picture.attached? %>
        <%= image_tag user.profile_picture, class: 'object-cover h-10 w-10 rounded-full' %>
      <% elsif @bug.user.name_initials.present? %>
        <p class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-300 text-gray-800 capitalize">
          <%= @bug.user.name_initials %>
        </p>
      <% else %>
        <%= image_tag 'default.png', class: 'w-10 h-10 rounded-full' %>
      <% end %>
      <p class="p-2 min-w-3 gap-2 col-span-1 text-sm rounded">
        <% if @bug.user.name.present? %>
          <%= @bug.user.name %>
        <% else %>
          <%= truncate(user.email, length: 15, omission: '...') %>
        <% end %>
      </p>
    <% end %>
</div>

