<% if @bug.statuses.any? %>
  <% @bug.statuses.each do |status| %>
    <p class="border-b-4 border-r-2 border border-black dark:border-slate-100 p-2 min-w-3 gap-2 col-span-1 text-sm rounded">
      <% if status.name.present? %>
        <%= status.name %>
      <% else %>
        <%= truncate(status.email, length: 15, omission: '...') %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <p class="text-red-500 text-sm">
    No agents assigned. Please assign at least one agent to this ticket.
  </p>
<% end %>

<% if current_user.has_role? :admin or current_user.has_role? :agent or  current_user.has_role?('project manager') %>
  <%= form_with url: bug_status_product_bug_path(@product, @bug), local: true do %>

      <%= select_tag :status_id, options_for_select(Status.where(name: ['TO DO','Awaiting Build','Awaiting Client Information','Blocked','Failed QA', 'In Progress','On-Hold', 'QA Testing', 'Reopened','Support Testing' ]).collect { |status| [status.name, status.id] }, @bug.statuses.first&.id), class: "border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: 'Select The Status' %>
    <%= submit_tag "UPDATE STATUS", class: 'w-full font-semibold bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100 mt-2' %>
  <% end %>

<% end %>