<div class="grid grid-cols-3 gap-2 font-bold">
  <div class="col-span-2">
    <h1 class="text-3xl text-left mb-10"><%= @bug.summary %></h1>
    <div><%= render 'bugs/bugs_content' %></div>
  </div>
  <div class="col-span-1 justify-end border border-l border-gray-300 p-6">
    <div class="flex flex-row gap-2 items-center">
      STATUS   <%= render 'bugs/bug_status' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
        Issue:  <%= @bug.issue %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Assignee:  <%= render 'bugs/show_user' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Assignee: <%= render 'reporter_user' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Label: <span class="text-black"><%= @bug.label %></span>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Start Date: <%= render 'reporter_user' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      End Date: <%= render 'reporter_user' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Priority: <%= @bug.priority %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Assign User: <%= render 'bugs/add_user_remove' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Status Change <%= render 'bugs/status_bug' %>
    </div>
  </div>
</div>
<%= render 'bugs/bug_media' %>