<% if flash[:notice] %>
  <div class="bg-[#1a237e] border border-[#4caf50] text-white px-4 py-3 rounded mb-4 shadow-md">
    <p><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="bg-red-600 border border-red-400 text-white px-4 py-3 rounded mb-4 shadow-md">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

<div class="grid grid-cols-5 gap-2 font-bold">
  <div class="col-span-4">
    <h1 class="text-3xl text-left mb-10"><%= @bug.summary %></h1>
    <div><%= render 'bugs/bugs_content' %></div>
  </div>
  <div class="col-span-1 justify-end ">
    <div class="flex flex-col gap-2">
      <%= render 'bugs/bug_media' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      STATUS   <%= render 'bugs/bug_status' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
        Issue:  <span class="text-sm font-medium"><%= @bug.issue %></span>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Assignee:  <%= render 'bugs/show_user' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Reporter: <%= render 'bugs/reporter_user' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Label: <span class="text-black"><%= @bug.label %></span>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Start Date: <%= @bug.created_at.strftime('%I:%M %p %d/%b/%Y') %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      End Date:
    </div>
    <div class="flex flex-row gap-2 items-center">
      Priority: <%= @bug.priority %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Assign User: <%= render 'bugs/add_user_remove' %>
    </div>
    <div class="flex flex-row gap-2 items-center">
      Status Change <%= render 'bugs/status_bug' %>
    </div>
  </div>
</div>
