<% if @tickets.any? %>
  <div class="mx-auto mb-4 px-4 sm:px-6 lg:px-8 py-8">
    <h2 class="text-xl font-bold mb-4 text-center">
      Ticket Status Report as of <%= Time.now.strftime("%d/%b/%Y at %I:%M %p") %> for

      <% if current_user.has_role?(:ceo) %>
        <% ceo_clients = Client.joins(projects: :users).where(projects: { id: current_user.projects.ids }).distinct %>
        <% if ceo_clients.count == 1 %>
          <%= ceo_clients.first.name %>
        <% elsif ceo_clients.count == 2 %>
          <%= ceo_clients.map(&:name).join(' and ') %>
        <% else %>
          <%= ceo_clients.map(&:name).to_sentence %>
        <% end %>
      <% elsif params[:client_ids].present? %>
        <% selected_clients = Client.where(id: params[:client_ids]) %>
        <% if selected_clients.count == 1 %>
          <%= selected_clients.first.name %>
        <% elsif selected_clients.count == 2 %>
          <%= selected_clients.map(&:name).join(' and ') %>
        <% else %>
          All Clients
        <% end %>
      <% else %>
        All Clients
      <% end %>

    </h2>
    <div class="grid grid-cols-3">
      <div class="col-span-2">
        <%= pie_chart @status_counts, height: "400px", library: { title: { text: "Ticket Status Distribution" } } %>
      </div>

      <div class="col-span-1">
        <div class="p-2">
          <h1 class="font-semibold">Total Tickets</h1>
          <% @status_counts.each do |status, count| %>
            <li><%= status %>: <%= count %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto mb-4 px-4 sm:px-6 lg:px-8 py-8">
    <div class="flex justify-end gap-2">
      <%= link_to "Download Status Report",
                  cease_fire_report_path(
                    format: :xlsx,
                    start_date: params[:start_date],
                    end_date: params[:end_date],
                    priority: params[:priority],
                    status: params[:status],
                    client_ids: params[:client_ids]
                  ),
                  class: "bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-lg text-slate-100" %>


      <%= form_with url: cease_fire_report_path, method: :get, local: true do |f| %>
        <%= f.submit "Clear", class: 'bg-gray-500 hover:bg-gray-700 p-2 rounded font-bold rounded-lg text-slate-100' %>
      <% end %>
      <% if current_user.has_role?(:admin) or current_user.has_role?(:observer) %>
        <% if @clients.present? && @clients.first.present? %>
          <%= link_to "Send To CEO",
                      email_report_path(client_id: @clients.first.id),
                      data: { 'turbo_method': :get, 'turbo-confirm': "Are you sure you want to send the report for #{@clients.first.name} to #{@clients.first.client_contact_person} at #{@clients.first.client_contact_person_email}?" },
                      class: "bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-lg text-slate-100" %>
        <% else %>
          <div class="flex justify-end my-4">
            <span class="text-gray-500">No clients available to email the report.</span>
          </div>
        <% end %>
      <% end %>
    </div>
    <table id="ceasefire" class="table-auto w-full mt-2">
      <thead>
      <tr>
        <th class="border border-black px-4 py-2">Ticket ID</th>
        <th class="border border-black px-4 py-2">Project Name</th>
        <th class="border border-black px-4 py-2">Severity</th>
        <th class="border border-black px-4 py-2">Summary</th>
        <th class="border border-black px-4 py-2">Issue Type</th>
        <th class="border border-black px-4 py-2">Status</th>
        <th class="border border-black px-4 py-2">Assigned To</th>
        <th class="border border-black px-4 py-2">Reporter</th>
        <th class="border border-black px-4 py-2">Details</th>
        <th class="border border-black px-4 py-2">Created</th>
        <th class="border border-black px-4 py-2">Status Updated At</th>
        <th class="border border-black px-4 py-2">Last Comment Updated At</th>
        <th class="border border-black px-4 py-2">Due Date</th>
        <% if !current_user.has_role?(:ceo) %>
          <th class="border border-black px-4 py-2">View</th>
        <% end %>

      </tr>
      </thead>
      <tbody>
      <% @tickets.each do |ticket| %>
        <% row_class = case ticket.statuses.first&.name
                       when 'New'
                         'bg-red-500'
                       when 'Closed', 'Resolved'
                         'bg-emerald-100 text-black'
                       when 'Reopened'
                         'bg-red-900 text-slate-100'
                       when 'Under Development'
                         'bg-blue-300'
                       when 'Work in Progress'
                         'bg-[#CCCCCC] text-black'
                       when 'QA Testing'
                         'bg-pink-500'
                       when 'Awaiting Build'
                         'bg-gray-800 text-slate-100'
                       when 'Client Confirmation Pending'
                         'bg-yellow-100 text-black'
                       when 'On-Hold'
                         'bg-red-600 text-slate-100'
                       when 'Assigned'
                         'bg-blue-800 text-slate-100'
                       when 'Declined'
                         'bg-gray-800 text-slate-100'
                       else
                         ''
                       end %>
        <tr class="<%= row_class %>">
          <td class="border border border-black px-4 py-2"><%= ticket.unique_id %></td>
          <td class="border border border-black px-4 py-2"><%= ticket.project.title %></td>
          <td class="border border border-black px-4 py-2"><%= ticket.priority %></td>
          <td class="border border border-black px-4 py-2"><%= ticket.subject %></td>
          <td class="border border border-black px-4 py-2"><%= ticket.issue %></td>
          <td class="border border border-black px-4 py-2"><%= ticket.statuses.first&.name || "N/A" %></td>
          <td class="border border border-black px-4 py-2">
            <% ticket.users.each do |user| %>
              <% if user.name.present? %>
                <%= user.name %>
              <% end %>
            <% end %>
          </td>
          <td class="border border border-black px-4 py-2"><%= ticket.user.name %></td>
          <td class="border border border-black px-4 py-2"><%= ticket.content.to_plain_text.truncate(3000) %></td>
          <td class="border border border-black px-4 py-2"><%= ticket.created_at.strftime("%d/%b/%Y %I:%M:%S %p") %></td>
          <td class="border border-black px-4 py-2"><%= ticket.add_statuses.order(updated_at: :desc).first&.updated_at&.strftime('%d/%b/%Y %I:%M:%S %p') || 'N/A' %></td>
          <td class="border border-black px-4 py-2"><%= ticket.issues.order(updated_at: :desc).first&.updated_at&.strftime('%d/%b/%Y %I:%M:%S %p') || 'N/A' %></td>
          <td class="border border-black px-4 py-2"><%= ticket.due_date&.strftime('%d/%b/%Y') || 'N/A' %></td>
          <% if !current_user.has_role?(:ceo) %>
            <td class="border border-black px-4 py-2">
              <%= link_to 'VIEW', project_ticket_path(ticket.project, ticket), target: "_blank", class: 'bg-[#3F8CFF] hover:bg-[#3A81EB] p-2 rounded font-bold rounded-md text-slate-100' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>