<h1 class="flex justify-center text-2xl font-bold mb-4">Generate Breach Report</h1>
<div class="p-2 w-full">
  <%= form_with url: breach_report_path, method: :get, local: true do |f| %>
    <div class="flex justify-center gap-2">
      <div class="flex gap-2">
        <%= f.label :start_date, "Start Date", class: "capitalize text-sm font-bold w-full align-middle pt-3" %>
        <%= f.date_field :start_date, value: params[:start_date], class: "h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg" %>
      </div>
      <div class="flex gap-2">
        <%= f.label :end_date, "End Date", class: "capitalize text-sm font-bold w-full align-middle pt-3" %>
        <%= f.date_field :end_date, value: params[:end_date], class: "h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg" %>
      </div>
      <div class="flex gap-2">
        <%= f.label :status, "Status", class: "capitalize text-sm font-bold w-full align-middle pt-3" %>
        <%= f.select :status,
                     options_from_collection_for_select(Status.all, :name, :name, params[:status]),
                     { include_blank: 'All Statuses' },
                     class: "h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg mr-2" %>
      </div>
      <div class="flex gap-2">
        <%= f.label :client_id, "Client", class: "capitalize text-sm font-bold w-full align-middle pt-3" %>
        <%= f.select :client_id,
                     options_from_collection_for_select(
                       if current_user.has_role?(:admin) || current_user.has_role?(:observer)
                         Client.all
                       else
                         Client.joins(:projects).where(projects: { id: current_user.projects.pluck(:id) }).distinct
                       end,
                       :id, :name, params[:client_id]
                     ),
                     { include_blank: 'All Clients' },
                     class: "h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg mr-2" %>
      </div>

      <div>
        <%= f.submit "Generate Report", class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
      </div>
    </div>
  <% end %>
</div>

<% if @tickets.any? %>
  <div class="container mx-auto mb-4 px-4 sm:px-6 lg:px-8 py-8">
    <table id="breach_report" class="table-auto w-full">
      <thead>
      <tr>
        <th class="px-4 py-2">Created</th>
        <th class="px-4 py-2">Issue Key</th>
        <th class="px-4 py-2">Project Name</th>
        <th class="px-4 py-2">Severity</th>
        <th class="px-4 py-2">Summary</th>
        <th class="px-4 py-2">Issue Type</th>
        <th class="px-4 py-2">Status</th>
        <th class="px-4 py-2">Assigned To</th>
        <th class="px-4 py-2">Reporter</th>
        <th class="px-4 py-2">SLA Status</th>
        <th class="px-4 py-2">Target Response Deadline</th>
        <th class="px-4 py-2">Resolution Deadline</th>
      </tr>
      </thead>
      <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td class="border px-4 py-2"><%= ticket.created_at.strftime("%d- %b -%y") %></td>
          <td class="border px-4 py-2"><%= ticket.unique_id %></td>
          <td class="border px-4 py-2"><%= ticket.project.title %></td>
          <td class="border px-4 py-2"><%= ticket.priority %></td>
          <td class="border px-4 py-2"><%= ticket.subject %></td>
          <td class="border px-4 py-2"><%= ticket.issue %></td>
          <td class="border px-4 py-2"><%= ticket.statuses.first&.name || "N/A" %></td>
          <td class="border px-4 py-2"><%= ticket.users.map(&:name).select(&:present?).join(', ') %></td>
          <td class="border px-4 py-2"><%= ticket.user.name %></td>
          <td class="border px-4 py-2"><%= ticket.sla_ticket&.sla_status || "N/A" %></td>
          <td class="border px-4 py-2"><%= ticket.sla_ticket&.sla_target_response_deadline.presence || 'not breached' %></td>
          <td class="border px-4 py-2"><%= ticket.sla_ticket&.sla_resolution_deadline.presence || 'not breached' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "Download CSV",
              breach_report_path(format: :csv, start_date: params[:start_date], end_date: params[:end_date], client_id: params[:client_id], status: params[:status]),
              class: "mb-4 mt-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100" %>
<% end %>