<h1 class="flex justify-center text-2xl font-bold mb-4">User Report</h1>
<div class="p-2 w-full">
  <%= form_with url: user_report_path, method: :get, local: true do |f| %>
    <div class="flex justify-center gap-2">
      <div class="flex gap-2">
        <%= f.label :start_date, "Start Date", class: "capitalize text-sm font-bold w-full align-middle pt-3" %>
        <%= f.date_field :start_date, class: "h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg" %>
      </div>
      <div class="flex gap-2">
        <%= f.label :end_date, "End Date", class: "capitalize text-sm font-bold w-full align-middle pt-3" %>
        <%= f.date_field :end_date, class: "h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg" %>
      </div>
      <div class="flex gap-2">
        <%= f.label :user_id, "User", class: "capitalize text-sm font-bold w-full align-middle pt-3" %>
        <%= f.collection_select :user_id, User.with_role(:agent).or(User.with_role(:project_manager)), :id, :name, { prompt: "Select User" }, class: "h-12 border border-[#3F8CFF] hover:border-[#3A81EB] border-2 rounded-lg" %>
      </div>
      <div>
        <%= f.submit "Generate Report", class: 'mb-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100' %>
      </div>
    </div>
  <% end %>
</div>

<% if @users.any? %>
  <div class="container mx-auto mb-4 px-4 sm:px-6 lg:px-8 py-8">
    <table id="user_report" class="table-auto w-full">
      <thead>
      <tr>
        <th class="px-4 py-2">User Name</th>
        <th class="px-4 py-2">Project Name</th>
        <th class="px-4 py-2">Ticket Subject</th>
        <th class="px-4 py-2">Ticket Status</th>
        <th class="px-4 py-2">SLA Target Response Deadline</th>
        <th class="px-4 py-2">Created At</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <% user.tickets.each do |ticket| %>
          <% sla_ticket = SlaTicket.find_by(ticket_id: ticket.id) %>
          <tr>
            <td class="border px-4 py-2"><%= user.name %></td>
            <td class="border px-4 py-2"><%= ticket.project.title %></td>
            <td class="border px-4 py-2"><%= ticket.subject %></td>
            <td class="border px-4 py-2"><%= ticket.statuses.first&.name || "N/A" %></td>
            <td class="border px-4 py-2"><%= sla_ticket&.sla_target_response_deadline || "N/A" %></td>
            <td class="border px-4 py-2"><%= ticket.created_at %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "Download CSV",
              user_report_path(format: :csv, start_date: params[:start_date], end_date: params[:end_date], user_id: params[:user_id]),
              class: "mb-4 mt-4 h-12 bg-[#3F8CFF] hover:bg-[#3A81EB] p-3 rounded font-bold rounded-lg text-slate-100" %>
<% end %>