<% if current_user && user_signed_in?  %>
<div class="flex justify-between items-center p-4 mb-6 bg-white shadow-md dark:bg-gray-800">
  <div class="text-lg font-semibold text-gray-700 dark:text-gray-200">
    <%= greeting_message %>, <%= current_user.first_name %> <%= current_user.last_name %>
  </div>

  <div class="flex items-center gap-4 text-gray-700 dark:text-gray-200 relative">
    <!-- Notification Button -->
    <button id="dropdownNotificationButton" data-dropdown-toggle="dropdownNotification" class="relative inline-flex items-center text-sm font-medium text-center text-gray-500 hover:text-gray-900 focus:outline-none dark:hover:text-white dark:text-gray-400" type="button">
      <svg class="w-8 h-8 text-[#0A1629] animate-wiggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              d="M15.585 15.5H5.415A1.65 1.65 0 0 1 4 13a10.526 10.526 0 0 0 1.5-5.415V6.5a4 4 0 0 1 4-4h2a4 4 0 0 1 4 4v1.085c0 1.907.518 3.78 1.5 5.415a1.65 1.65 0 0 1-1.415 2.5zm1.915-11c-.267-.934-.6-1.6-1-2s-1.066-.733-2-1m-10.912 3c.209-.934.512-1.6.912-2s1.096-.733 2.088-1M13 17c-.667 1-1.5 1.5-2.5 1.5S8.667 18 8 17" />
      </svg>
      <% if @notifications&.any? { |notification| !notification.read } %>
        <div class="absolute block w-3 h-3 bg-red-500 border-2 border-white rounded-full -top-0.5 start-2.9 dark:border-gray-900"></div>
      <% end %>
    </button>

    <!-- Notification Dropdown Menu -->
    <div id="dropdownNotification" class="z-50 hidden absolute top-0 mt-8 w-80 bg-white divide-y divide-gray-100 rounded-lg shadow-md dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownNotificationButton">
      <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
        Notifications
      </div>
      <div class="divide-y divide-gray-100 dark:divide-gray-700">
        <% if @notifications.present? && @notifications.any? %>
          <% @notifications.each do |notification| %>
            <a href="<%= project_ticket_path(notification.ticket.project, notification.ticket) %>" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700 <%= 'bg-gray-100' if notification.read %>">
              <div class="flex-shrink-0">
                <p class="w-11 h-11 flex items-center justify-center bg-gray-300 dark:bg-gray-600 rounded-full text-white">
                  <%= current_user.name_initials %>
                </p>
                <div class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-blue-600 border border-white rounded-full dark:border-gray-800">
                  <svg class="w-2 h-2 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                    <path d="M1 18h16a1 1 0 0 0 1-1v-6h-4.439a.99.99 0 0 0-.908.6 3.978 3.978 0 0 1-7.306 0 .99.99 0 0 0-.908-.6H0v6a1 1 0 0 0 1 1Z"></path>
                    <path d="M4.439 9a2.99 2.99 0 0 1 2.742 1.8 1.977 1.977 0 0 0 3.638 0A2.99 2.99 0 0 1 13.561 9H17.8L15.977.783A1 1 0 0 0 15 0H3a1 1 0 0 0-.977.783L.2 9h4.239Z"></path>
                  </svg>
                </div>
              </div>
              <div class="w-full ps-3">
                <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400">
                  <%= notification.message %>
                </div>
                <div class="text-xs text-blue-600 dark:text-blue-500">
                  <%= time_ago_in_words(notification.created_at) %> ago
                </div>
              </div>
            </a>
          <% end %>
        <% else %>
          <div class="px-4 py-3 text-center text-gray-500">No notifications available</div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="flex items-center gap-4 text-gray-700 dark:text-gray-200 relative">
    <ul id="dropdownProfile" class="flex items-center space-x-4">
        <li class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
          <% if current_user.profile_picture.attached? %>
            <%= image_tag current_user.profile_picture, class: 'w-10 h-10 rounded-full' %>
          <% elsif current_user.name_initials.present? %>
            <p class="w-10 h-10 flex items-center justify-center bg-gray-300 dark:bg-gray-600 rounded-full text-white"><%= current_user.name_initials %></p>
          <% else %>
            <%= image_tag 'default.png', class: 'w-10 h-10 rounded-full' %>
          <% end %>
          <span class="ml-3 text-gray-700 dark:text-gray-200">
            <% unless %w[editor creator].include?(current_user.roles.first.name.downcase) %>
              Role: <span class="capitalize"><%= current_user.roles.first.name %></span>
            <% end %>
          </span>
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </li>
    </ul>
  <!-- Profile Dropdown Items -->
  <ul id="dropdownItem" class="absolute z-50 top-2 mt-8 hidden bg-white dark:bg-gray-800 shadow-md rounded-md w-40 mt-4 space-y-2">
            <%= link_to edit_user_registration_path  do %>
              <li>
                <div class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <span class="flex-1 ms-3 whitespace-nowrap dark:">Edit Profile</span>
                </div>
              </li>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' } do  %>
              <li>
                <div class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <span class="flex-1 ms-3 whitespace-nowrap">
                    Sign Out
                  </span>
                </div>
              </li>
            <% end %>
          </ul>
  </div>

</div>
<% end %>

<script>
  document.querySelector('#dropdownNotificationButton').addEventListener('click', function() {
    const dropdown = document.querySelector('#dropdownNotification');
    dropdown.classList.toggle('hidden');
  });

  // Toggle the profile dropdown
  document.getElementById("dropdownProfile").addEventListener("click", function() {
      const dropdownMenu = document.getElementById("dropdownItem");
      dropdownMenu.classList.toggle("hidden");
  });

  document.getElementById("dropdownNavbarLink").addEventListener("click", function() {
      const dropdownMenu = document.getElementById("dropdownNavbar");
      dropdownMenu.classList.toggle("hidden");
  });
</script>