<!DOCTYPE html>
<html>
  <head>
    <title>CPSM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('loading.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="bg-slate-100 dark:bg-gray-900 text-gray-900 dark:text-slate-100">
    <main class="mx-auto">
      <%= render 'layouts/sidebar' %>
      <div class="p-8 sm:ml-64">
        <%= yield %>

        <%= turbo_frame_tag 'modal' %>
        <%= javascript_include_tag "loading" %>
      </div>


    </main>

  </body>
</html>
