<!DOCTYPE html>
<html>
<head>
  <title>CPSM</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= favicon_link_tag asset_path('loading.png') %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= Sentry.get_trace_propagation_meta.html_safe %>
  <%= javascript_include_tag "controllers/tribute_controller", defer: true %>
  <script src="https://cdn.jsdelivr.net/npm/tributejs/dist/tribute.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tributejs/dist/tribute.css"/>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-slate-100 dark:bg-gray-900 text-gray-900 dark:text-slate-100">
<main class="mx-auto">
  <%= render 'layouts/sidebar' %>
  <div class="p-8 sm:ml-64">
    <%= yield %>
  </div>
</main>
<%= javascript_include_tag "loading" %>
<%= javascript_include_tag "chartkick" %>
<%= javascript_include_tag "Chart.bundle" %>



</body>
</html>
