<!DOCTYPE html>
<html>
  <head>
    <title>CPSM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('logo.png') %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="mx-auto">
      <%= render 'layouts/sidebar' %>
      <% if current_user %>
        <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' } %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
